<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.blog.blog.domain.dao.BlogDAO">

    <insert id="save" parameterType="BlogPO">
        INSERT INTO zhousb_blog(
             id , 
             title , 
             type , 
             content ,
             preview,
             remark ,
             state ,
             pv ,
             gmt_create , 
             gmt_modified 
        )
        VALUES(
            #{id} , 
            #{title} , 
            #{type} , 
            #{content} , 
            #{preview} ,
            #{remark} ,
            #{state} ,
            #{pv} ,
            NOW(),
            NOW()
        )
    </insert>

    <update id="update" parameterType="BlogPO">
        UPDATE zhousb_blog
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="preview != null and preview != ''">preview = #{preview},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="state != null">state = #{state},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            gmt_modified = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <select id="get" parameterType="BlogDTO" resultType="BlogPO">
        SELECT
            zhousb_blog.id,
            zhousb_blog.title,
            zhousb_blog.type,
            zhousb_blog_type.`name` typeName,
            zhousb_blog.content,
            zhousb_blog.preview,
            zhousb_blog.remark,
            zhousb_blog.pv,
            zhousb_blog.gmt_create,
            zhousb_blog.gmt_modified
        FROM
            zhousb_blog
            LEFT JOIN zhousb_blog_type ON zhousb_blog.type = zhousb_blog_type.`key`
        WHERE
            zhousb_blog.state=0 and zhousb_blog.id = #{id}
    </select>

    <select id="list" parameterType="BlogDTO" resultType="BlogPO">
        SELECT
            zhousb_blog.id,
            zhousb_blog.title,
            zhousb_blog.type,
            zhousb_blog_type.`name` typeName,
            zhousb_blog.remark,
            zhousb_blog.pv,
            zhousb_blog.gmt_create
        FROM
            zhousb_blog
        LEFT JOIN zhousb_blog_type ON zhousb_blog.type = zhousb_blog_type.`key`
        <where>
            zhousb_blog.state=0
            <if test="titleLike != null  and titleLike != '' ">and zhousb_blog.title LIKE CONCAT('%',#{titleLike},'%')</if>
            <if test="type != null and type != '' ">and zhousb_blog.type = #{type}</if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
