<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.blog.blogType.domain.dao.BlogTypeDAO">

    <insert id="save" parameterType="BlogTypePO">
        INSERT INTO zhousb_blog_type(
             id ,
             `key` ,
             name ,
             title ,
             `desc` ,
             bg ,
             remark ,
             state,
             gmt_create ,
             gmt_modified
        )
        VALUES(
            #{id} , 
            #{key} , 
            #{name} , 
            #{title} , 
            #{desc} , 
            #{bg} , 
            #{remark} ,
            #{state} ,
            NOW(),
            NOW()
        )
    </insert>

    <update id="update" parameterType="BlogTypePO">
        UPDATE zhousb_blog_type
        <set>
            name = #{name},
            title = #{title},
            `desc` = #{desc},
            bg = #{bg},
            remark = #{remark},
            state = #{state},
            gmt_modified = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <sql id="selectSQL">
        SELECT
            id ,
            `key` ,
            name ,
            title ,
            `desc` ,
            bg ,
            remark ,
            state,
            gmt_create ,
            gmt_modified
        FROM zhousb_blog_type
    </sql>


    <select id="get" parameterType="BlogTypeDTO" resultType="BlogTypePO">
        <include refid="selectSQL"/>
        <where>
            <if test="id != null ">id = #{id}</if>
            <if test="key != null ">key = #{key}</if>
        </where>
    </select>


    <select id="list" parameterType="BlogTypeDTO" resultType="BlogTypePO">
        <include refid="selectSQL"/>
        <where>
            state != 11
            <if test="keyLike != null  and keyLike != '' ">and `key` LIKE CONCAT('%',#{keyLike},'%')</if>
            <if test="nameLike != null  and nameLike != '' "> and name  LIKE CONCAT('%',#{nameLike},'%')</if>
            <if test="titleLike != null  and titleLike != '' ">and title LIKE CONCAT('%',#{titleLike},'%')</if>
        </where>
        ORDER BY id DESC
    </select>


    <select id="count" parameterType="BlogTypeDTO" resultType="Integer">
        SELECT
            count(0)
        FROM
        zhousb_blog_type
        <where>
            state != 11
            <if test="noid != null ">and id != #{noid}</if>
            <if test="key != null  and key != '' "> and `key` = #{key}</if>
            <if test="name != null  and name != '' "> and name = #{name}</if>
        </where>
    </select>
</mapper>
