<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form" th:attr="action=${_isAdd?_action:_action+_vo.id}" th:object="${_vo}">

                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li><a th:href="@{/system/dict/list}" th:text="${_module.name}+列表"></a></li>
                        <li class="layui-this" th:text="(${isAdd}?'添加':'修改')+${_module.name}"></li>
                    </ul>
                    <input type="hidden" th:field="*{id}">
                    <div class="layui-tab-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" lay-verify="required" th:field="*{name}"
                                       class="layui-input" placeholder="请输入名称" autocomplete="off">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">字典标识：</label>
                            <div class="layui-input-block">
                                <input type="text" lay-verify="required" th:field="*{key}"
                                       class="layui-input" placeholder="请输入字典标识" autocomplete="off">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <input type="radio" value="0" th:field="*{state}" title="正常">
                                <input type="radio" value="11" th:field="*{state}" title="停用">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea th:field="*{remark}" placeholder="请输入备注" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">数据项：</label>
                            <div class="layui-input-block">
                                <table id="data-table" lay-filter="data-table"></table>
                                <div class="layui-form-mid layui-word-aux">当 编码值 或 标签 为空时会自动忽略</div>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">
                                    <i class="fa fa-repeat"></i>
                                    重置
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: au-footer"></div>
        <script type="text/html" id="dict-tool">
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="insert">插入</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove">移除</a>
        </script>
        <script th:inline="javascript">
            const dataListEcho = [[${_vo.dataList}]]
        </script>
        <script th:inline="none">
            const prefix = `${_gate}system/dict`
            const typeMap = {
                0: {spare: 'layui-bg-blue', info: '正常'},
                1: {spare: 'layui-btn-primary', info: '预留'},
                11: {spare: '', info: '系统'},
            }
            let perfIndex  // 默认数据索引

            layui.use(['table', 'form', 'jquery'], () => {
                const {table, form, jquery: $} = layui
                table.render({
                    id: 'data-table',
                    elem: '#data-table',
                    data: dataListEcho,
                    cellMinWidth: '80',
                    cols: [[
                        {field: 'code', title: '编码值', edit: true},
                        {field: 'label', title: '标签', edit: true},
                        {field: 'spare', title: '备用', edit: true},
                        {
                            field: 'type', title: '状态',
                            templet: ({type}) => {
                                let {spare, info} = typeMap[type]
                                return `<a data-type="${type}" class="layui-btn layui-btn-xs type-btn ${spare}">${info}</a>`
                            }
                        },
                        {
                            field: 'perf', title: '默认使用',
                            templet: ({perf}) => {
                                let css, info
                                if (perf) {
                                    css = 't'
                                    info = '默认'
                                } else {
                                    css = 'layui-bg-blue'
                                    info = '正常'
                                }
                                return `<a class="layui-btn layui-btn-xs perf-btn ${css}">${info}</a>`
                            }
                        },
                        {title: '操作', toolbar: '#dict-tool'}
                    ]],
                    done: () => perfIndex = $('.t').parents('tr').data('index')
                })


                //监听提交
                form.on('submit(submit)', ({form, field}) => {
                    let dataList = dataListEcho.filter(d => d.code)
                    if (!dataList.length) {
                        return warn('数据项不可为空')
                    }
                    let codeSet = new Set()
                    for (let i = 0; i < dataList.length; i++) {
                        let {code} = temp = dataListEcho[i]
                        if (codeSet.has(code)) {
                            return warn('数据项不可重复')
                        }
                        codeSet.add(code)
                        for (let key in temp) {
                            field[`dataList[${i}].${key}`] = temp[key]
                        }
                    }
                    pageSubmit({form, field})
                    return false
                })


                // 控制工具栏
                table.on('tool(data-table)', toolHandle)

                function toolHandle({tr, data, event: action}) {
                    let index = tr.data('index')
                    switch (action) {
                        case 'insert':
                            dataListEcho.splice(1 + index, 0, {type: 0, perf: 0})
                            break
                        case 'remove':
                            if (1 === dataListEcho.length) {
                                return warn('数据项至少存在一个')
                            }
                            dataListEcho.splice(index, 1)
                            break
                    }
                    table.reload('data-table', {data: dataListEcho})
                }

                // 数据编辑
                table.on('edit(data-table)', ({tr, field, value}) => {
                    dataListEcho[tr.data('index')][field] = value
                })

                // 修改状态
                $('.layui-form').on('click', '.type-btn', function () {
                    let btn = $(this),
                        type = btn.data('type'),
                        index = btn.parents('tr').data('index')
                    btn.removeClass(typeMap[type].spare)
                    switch (type) {
                        case 0:
                            type = 1
                            break
                        case 1:
                            type = 11
                            break
                        case 11:
                            type = 0
                            break
                    }
                    let {spare, info} = typeMap[type]
                    btn.data('type', type)
                        .html(info)
                        .addClass(spare)
                    dataListEcho[index].type = type
                }).on('click', '.perf-btn', function () {
                    let index = $(this).parents('tr').data('index')
                    if (perfIndex !== index) {
                        if (0 === perfIndex || perfIndex) {
                            dataListEcho[perfIndex].perf = false
                        }
                        dataListEcho[index].perf = true
                        table.reload('data-table', {data: dataListEcho})
                    }
                })
            })

        </script>
    </body>
</html>