<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page" th:with="isAdd='/rest/save'==${_action}">
            <form class="layui-form" th:attr="action=${_action}">

                <div class="layui-tab" >
                    <ul class="layui-tab-title">
                        <li><a th:href="@{/system/dict/list}" th:text="${_module.name}+列表"></a></li>
                        <li class="layui-this" th:text="(${isAdd}?'添加':'修改')+${_module.name}"></li>
                    </ul>
                    <input type="hidden" name="id" th:value="${_vo.id}">
                    <div class="layui-tab-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="required" th:value="${ _vo.name }"
                                       class="layui-input" placeholder="请输入名称" autocomplete="off">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">字典标识：</label>
                            <div class="layui-input-block">
                                <input type="text" name="key" lay-verify="required" th:value="${ _vo.key }"
                                       class="layui-input" placeholder="请输入字典标识" autocomplete="off">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="state" value="0" th:field="${_vo.state}" title="正常">
                                <input type="radio" name="state" value="11" th:field="${_vo.state}" title="冻结">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea name="remark" th:text="${_vo.remark}" placeholder="请输入备注"
                                          class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">数据项：</label>
                            <div class="layui-input-block">
                                <table id="data-table" lay-filter="data-table"></table>
                                <div class="layui-form-mid layui-word-aux">当 编码值 或 标签 为空时会自动忽略</div>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">
                                    <i class="fa fa-repeat"></i>
                                    重置
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: au-footer"></div>
        <script type="text/html" id="dict-tool">
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="insert">插入</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove">移除</a>
        </script>
        <script th:inline="javascript">
            const dataList = [[${_vo.dataList}]]
        </script>
        <script th:inline="none">
            const prefix = `${_gate}system/dict`,
                typeMap = {
                    0: {css: 'layui-bg-blue', info: '正常'},
                    1: {css: 'layui-btn-primary', info: '预留'},
                    11: {css: '', info: '系统'},
                }
            let tindex  // 默认数据索引

            layui.use(['table', 'form', 'jquery'], () => {
                const {table, form, jquery: $} = layui
                table.render({
                    id: 'data-table',
                    elem: '#data-table',
                    data: dataList,
                    cellMinWidth: '80',
                    cols: [[
                        {field: 'code', title: '编码值',  edit: true},
                        {field: 'label', title: '标签',  edit: true},
                        {field: 'css', title: 'class标签',  edit: true},
                        {field: 'type',title: '状态',
                            templet: ({type}) => {
                                let {css, info} = typeMap[type]
                                return `<a data-type="${type}" class="type-btn layui-btn layui-btn-xs ${css}">${info}</a>`
                            }
                        },
                        {field: 'top',title: '默认使用',
                            templet: ({top}) => {
                                let css = 'layui-bg-blue', info = '正常'
                                if (1 === top) {
                                    css = 't'
                                    info = '默认'
                                }
                                return `<a class="top-btn layui-btn layui-btn-xs ${css}">${info}</a>`
                            }
                        },
                        {title: '操作',    toolbar: '#dict-tool'}
                    ]],
                    done: () => {
                        tindex = $('.t').parents('tr').data('index')
                    }
                })


                //监听提交
                form.on('submit(submit)', function ({form, field}) {
                    // 数据项加入提交数据
                    let codeSet = []
                    for (let i in dataList) {
                        let temp = dataList[i],
                            {code, label} = temp
                        if (code && label) {
                            if (codeSet.includes(code)) {
                                return warn('数据项编码值不可重复')
                            }
                            codeSet.push(code)
                            for (let key in temp) {
                                field[`dataList[${i}].${key}`] = temp[key]
                            }
                        }
                    }
                    // 判空
                    if (0 === codeSet.length) {
                        return warn('数据项至少存在一个')
                    }

                    pageSubmit({form, field})
                    return false
                })


                // 控制工具栏
                table.on('tool(data-table)', toolHandle)

                function toolHandle({tr, data, event: action}) {
                    let index = tr.data('index')
                    switch (action) {
                        case 'insert':
                            dataList.splice(1 + index, 0, {type: 0, top: 0})
                            break
                        case 'remove':
                            if (1 === dataList.length) {
                                return warn('数据项至少存在一个')
                            }
                            dataList.splice(index, 1)
                            break
                    }
                    table.reload('data-table', {data: dataList})
                }

                // 数据编辑
                table.on('edit(data-table)', ({tr, field, value}) => {
                    dataList[tr.data('index')][field] = value
                })

                // 修改状态
                $('body').on('click', '.type-btn', function () {
                    let index = $(this).parents('tr').data('index')
                    let type = $(this).data('type')
                    $(this).removeClass(typeMap[type].css)
                    switch (type) {
                        case 0:
                            type = 1
                            break
                        case 1:
                            type = 11
                            break
                        case 11:
                            type = 0
                            break
                    }
                    let {css, info} = typeMap[type]
                    $(this).addClass(css).html(info).data('type', type)
                    dataList[index].type = type
                })


                // 修改默认
                $('body').on('click', '.top-btn', function () {
                    let index = $(this).parents('tr').data('index')
                    if (tindex !== index) {
                        if (0 == tindex || tindex) {
                            dataList[tindex].top = 0
                        }
                        dataList[index].top = 1
                        table.reload('data-table', {data: dataList})
                    }
                })
            })

        </script>
    </body>
</html>