<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <style>
        .layui-table, .layui-table-view {
            margin: 0;
        }
    </style>
    <body>
        <div class="layout-page">
            <form class="layui-form-pane" th:object="${_vo}">

                <div class="layui-tab">

                    <ul class="layui-tab-title">
                        <li><a th:href="@{/system/dict/list}" th:text="${_module.name}+列表"></a></li>
                        <li class="layui-this" th:text="${_module.name}+详情"></li>
                    </ul>

                    <div class="layui-tab-content">

                        <div class="layui-form-item">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="*{name}" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">字典标识：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="*{key}" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="*{0 ==state?'正常':'停用'}" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea th:text="*{remark}" class="layui-textarea" disabled></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">数据项：</label>
                            <div class="layui-input-block">
                                <table id="data-table" lay-filter="data-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: footer"></div>
        <script th:src="@{/js/list.js}"></script>
        <script th:inline="javascript">
            const dictData = [[${_vo.dataList}]]
        </script>
        <script th:inline="none">
            const typeMap = {
                0: {spare: 'layui-bg-blue', label: '正常'},
                1: {spare: 'layui-btn-primary', label: '预留'},
                11: {spare: '', label: '系统'},
            }

            layui.use(['table', 'form', 'jquery'], () => {
                const {table} = layui
                table.render({
                    elem: '#data-table',
                    data: dictData,
                    cellMinWidth: '80',
                    cols: [[
                        {field: 'code', title: '编码值'},
                        {field: 'label', title: '标签'},
                        {field: 'spare', title: '备用',},
                        {
                            field: 'type', title: '类型',
                            templet: ({type}) => dictRender(type, typeMap)
                        },
                        {
                            field: 'perf', title: '默认使用',
                            templet: ({perf}) => {
                                let css, info
                                if (perf) {
                                    css = 't'
                                    info = '默认'
                                } else {
                                    css = 'layui-bg-blue'
                                    info = '正常'
                                }
                                return `<a class="layui-btn layui-btn-xs ${css}">${info}</a>`
                            }
                        }

                    ]]
                })
            })

        </script>
    </body>

</html>