<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="page-wrap">
            <form class="layui-form-pane" id="form" th:attr="action=${action}">

                <div class="layui-tab" style="margin: 0;">
                    <ul class="layui-tab-title">
                        <li><a th:href="@{/blog/type/list}" id="superior">博客类型</a></li>
                        <li class="layui-this">类型详情</li>
                    </ul>
                    <input type="hidden" name="id" th:value="${o.id}">
                    <div class="layui-tab-content">

                        <div class="layui-form-item">
                            <label class="layui-form-label">标识：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="${ o.key }" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="${ o.name }" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="${ o.title }" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">描述：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="${ o.desc }" class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item" th:if="${o.bg} !=null">
                            <label class="layui-form-label">背景：</label>
                            <div class="layui-input-block">
                                <img th:src="${ o.bg }" />
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea th:text="${o.remark}" class="layui-textarea"  disabled></textarea>
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <input type="text" th:value="${ o.stateStr }" class="layui-input" disabled>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: footer"></div>
        <script th:inline="javascript">

        </script>
    </body>

</html>