<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline  ">
                        <a class="layui-btn layui-btn-sm layui-btn-normal add-page-btn" shiro:hasPermission=${_module.permissionPrefix+':add'}>
                            <i class="fa fa-plus"></i>
                            添加
                        </a>
                    </div>

                    <div class="layui-inline">
                        <select name="state">
                            <option value="">请选择一个状态</option>
                            <option th:each="state:${stateMap.values()}" th:value="${state.code}" th:text="${state.label}"></option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                            搜索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset" >
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:inline="javascript">
            const stateMap = [[${stateMap}]]
        </script>
        <script th:inline="none">
            const prefix = `${_gate}blog/type`

            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[
                        {field: 'key', title: '标识',minWidth:'100'},
                        {field: 'name', title: '名称'},
                        {field: 'title', title: '标题'},
                        {field: 'desc', title: '描述', minWidth:'150',},
                        {
                            field: 'state', title: '状态',
                            templet: ({state}) => {
                                let {label, css} = stateMap[state]
                                return `<a class="layui-btn layui-btn-xs ${css}">${label}</a>`
                            }
                        },
                        {title: '操作',     toolbar: '#rud'}
                    ]]

                 tableRender(table,{cols})
                table.on('tool(table)', pageAction)
            })
        </script>
    </body>

</html>