<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="nameLike" class="layui-input" placeholder="请输入名称" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-filter="search" lay-submit>
                            <i class="fa fa-search"></i>
                            查询
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <div class="layout-table-tool">
                    <a class="layui-btn layui-btn-sm layui-btn-normal coffee-btn"
                       shiro:hasPermission=${_module.permissionPrefix+':extend'}>
                        <i class="fa fa-coffee"></i>
                        生成
                    </a>
                </div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:inline="none">
            const prefix = `${_gate}system/extend`

            layui.use(['table', 'jquery'], () => {
                const {table, $} = layui,
                    cols = [[
                        {type: 'checkbox'},
                        {field: 'name', title: '名称'},
                        {field: 'comment', title: '描述'},
                        {field: 'gmtCreate', title: '创建时间'},
                    ]]

                tableRender(table, {cols, url: `${prefix}/rest/table/list`})

                $('.coffee-btn').click(() => {
                    let {data} = table.checkStatus('table')
                    if (0 === data.length) {
                        return warn('请选中要生成的表')
                    }

                    let hasEmpty = false,
                        url = `${prefix}/rest/extend?`
                    for (let i = 0; i < data.length; i++) {
                        let {name, comment} = data[i]
                        url += `names[${i}]=${name}&`
                        if (!comment) hasEmpty = true
                    }
                    url = encodeURI(url)

                    hasEmpty ?
                        layer.confirm(`选中表存在空描述，会导致注释异常，确认生成吗`, {
                            btn: ['确定', '取消'],
                            shade: [0.1, '#fff']
                        }, (index) => {
                            window.open(url)
                            layer.close(index)
                        }) :
                        window.open(url)
                })

            })

        </script>
    </body>

</html>