<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form-pane" th:attr="action=${_action}">
                <input type="hidden" name="id" th:value="${_vo.id}">
                <div class="layui-tab-content">

                    <div class="layui-form-item">
                        <label class="layui-form-label">博客：</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="${ _vo.blog.title }" class="layui-input" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">访客：</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="${ _vo.fromVisitor.nickname }" class="layui-input" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item" th:if="${null != _vo.repliedComment}">
                        <label class="layui-form-label">父级评论：</label>
                        <div class="layui-input-block">
                            <textarea th:text="${_vo.repliedComment.content }" class="layui-textarea" disabled></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">内容：</label>
                        <div class="layui-input-block">
                            <textarea th:text="${_vo.content }" class="layui-textarea" disabled></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="${ _vo.stateStr }" class="layui-input" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间：</label>
                        <div class="layui-input-block">
                            <input type="text" th:value="${ _vo.gmtCreate }" class="layui-input date-field" disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: footer"></div>
        <script th:inline="javascript">

        </script>
    </body>

</html>