<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="contentLike" class="layui-input" placeholder="请输入内容"
                               autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <select name="state">
                            <option value="">请选择一个状态</option>
                            <option th:each="state:${stateMap.values()}" th:value="${state.code}"
                                    th:text="${state.label}"></option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <button id="id" class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                            搜索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>

        <script type="text/html" id="comment">
            <a class="layui-btn layui-btn-sm" lay-event="detail"
               shiro:hasPermi=ssion=${m.permissionPrefix+':detail'}>查看</a>
            {{#  if(d.state == 1 ){ }}
            {{#  if(d.fromVisitor.id != 0 ){ }}
            <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="reply"
               shiro:hasPermission=${m.permissionPrefix+':reply'}>回复</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="update"
               shiro:hasPermission=${m.permissionPrefix+':reply'}>修改</a>
            {{#  } }}
            {{#  } else if( d.state == 0) { }}
            <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="pass"
               shiro:hasPermission=${m.permissionPrefix+':check'}>通过</a>
            {{#  } }}
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"
               shiro:hasPermission=${m.permissionPrefix+':remove'}>移除</a>
        </script>
        <div th:include="include :: list-footer"></div>
        <script th:inline="javascript">
            const stateMap = [[${stateMap}]]
        </script>
        <script th:inline="none">
            const prefix = `${gate}access/comment`
            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[
                        {
                            field: 'fromVisitor', title: '昵称',
                            templet: ({fromVisitor}) => fromVisitor.nickname
                        },
                        {field: 'content', title: '内容'},
                        {field: 'gmtCreate', title: '评论时间'},
                        {
                            field: 'state', title: '状态',
                            templet: ({state}) => {
                                let {label, css} = stateMap[state]
                                return `<a class="layui-btn layui-btn-xs ${css}">${label}</a>`
                            }
                        },
                        {title: '操作',  toolbar: '#comment'}
                    ]]

                tableRender(table, {cols})
                table.on('tool(table)', toolHandle)

                function toolHandle({data, event}) {
                    switch (event) {
                        case 'reply':
                            newFrame(`回复${m.name}`, `${prefix}/reply/${data.id}`, ['700px', '300px'])
                            break
                        case 'pass':
                            httpPost({
                                url: `${prefix}/rest/update`,
                                data: {id: data.id, state: 1},
                                cb: ()=>done(reloadTable)
                            })
                            break
                    }
                    iframeAction({data, event})
                }
            })
        </script>
    </body>

</html>