<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.system.blog.domain.dao.BlogDAO">

    <insert id="save" parameterType="BlogPO">
        INSERT INTO zhousb_blog(
             id , 
             title , 
             type , 
             content , 
             pv , 
             gmt_create , 
             gmt_modified 
        )
        VALUES(
            #{id} , 
            #{title} , 
            #{type} , 
            #{content} , 
            #{pv} , 
            #{gmtCreate} , 
            #{gmtModified} 
        )
    </insert>

    <update id="update" parameterType="BlogPO">
        UPDATE zhousb_blog
        <set>
            <if test="id != null and id != ''">id = #{id},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="pv != null and pv != ''">pv = #{pv},</if>
            <if test="gmtCreate != null and gmtCreate != ''">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null and gmtModified != ''">gmt_modified = #{gmtModified},</if>
        </set>
        WHERE ${table.primaryKey.name} = #{${table.primaryKey.attrName}}
    </update>

    <sql id="selectSQL">
        SELECT
            id ,
            title ,
            type ,
            content ,
            pv ,
            gmt_create ,
            gmt_modified 
        FROM zhousb_blog
    </sql>


    <select id="get" parameterType="BlogDTO" resultType="BlogPO">
        <include refid="selectSQL"/>
        WHERE ${table.primaryKey.name} = #{${table.primaryKey.attrName}}
    </select>


    <select id="list" parameterType="BlogDTO" resultType="BlogPO">
        <include refid="selectSQL"/>
        <where>
            <if test="id != null  "> and id = #{id}</if>
            <if test="title != null  and title != '' "> and title = #{title}</if>
            <if test="type != null  "> and type = #{type}</if>
            <if test="content != null  and content != '' "> and content = #{content}</if>
            <if test="pv != null  "> and pv = #{pv}</if>
            <if test="gmtCreate != null  "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null  "> and gmt_modified = #{gmtModified}</if>
        </where>
        ORDER BY ${table.primaryKey.name} DESC
    </select>


    <select id="count" parameterType="BlogDTO" resultType="Integer">
        SELECT
            count(0)
        FROM
        zhousb_blog
        <where>
            <if test="id != null  "> and id = #{id}</if>
            <if test="title != null  and title != '' "> and title = #{title}</if>
            <if test="type != null  "> and type = #{type}</if>
            <if test="content != null  and content != '' "> and content = #{content}</if>
            <if test="pv != null  "> and pv = #{pv}</if>
            <if test="gmtCreate != null  "> and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null  "> and gmt_modified = #{gmtModified}</if>
        </where>
    </select>
</mapper>
