<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.system.extend.domain.dao.ColumnDAO">

    <select id="list" parameterType="ColumnDTO" resultType="ColumnPO">
        SELECT
            column_key `key`,
            column_name name,
            data_type type,
            column_comment comment,
            IS_NULLABLE nullable
        FROM
            information_schema.COLUMNS
        WHERE
            table_name = #{tableName}
            AND table_schema = (
            SELECT DATABASE ())
        ORDER BY
            ordinal_position
    </select>

</mapper>
