<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.system.dict.domain.dao.DictDAO">

    <resultMap id="POMap" type="DictPO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="key" property="key"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="createBy" property="create_by"/>
        <result column="modifiedBy" property="modified_by"/>
        <result column="gmtCreate" property="gmt_create"/>
        <result column="gmtModified" property="gmt_modified"/>
        <result column="deleted" property="is_deleted"/>
    </resultMap>

    <resultMap id="VOMap" type="DictVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="key" property="key"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <collection property="dataList"  ofType="DictDataVO">
            <result column="code" property="code"/>
            <result column="label" property="label" />
            <result column="type" property="type" />
            <result column="top" property="top" />
            <result column="spare" property="spare" />
        </collection>
    </resultMap>

    <resultMap id="TableVOMap" type="DictTableVO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="key" property="key"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <sql id="POSql">
        SELECT
            id,
            `name`,
            `key`,
            state,
            remark,
            create_by,
            modified_by,
            gmt_create,
            gmt_modified,
            is_deleted
        FROM system_dict
    </sql>

    <insert id="save" parameterType="DictPO">
        INSERT INTO system_dict(
            `name`,
            `key`,
            state,
            remark,
            create_by,
            gmt_create,
            is_deleted
        )values(
            #{name} ,
            #{key} ,
            #{state} ,
            #{remark} ,
            #{createBy},
            NOW(),
            0
        )
    </insert>

    <delete id="remove" parameterType="DictDTO">
        UPDATE system_dict SET is_deleted = 1 WHERE is_deleted = 0 and id = #{id}
    </delete>

    <update id="update" parameterType="DictPO">
        UPDATE system_dict
        <set>
            <if test="name != null and name != ''"> `name` = #{name},</if>
            <if test="key != null and key != ''">`key` = #{key},</if>
            <if test="state != null"> state = #{state},</if>
            <if test="remark != null and remark != ''"> remark = #{remark},</if>
            modified_by = #{modifiedBy},
            gmt_modified = NOW()
        </set>
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="key != null and key != ''">AND `key` = #{key}</if>
        </where>
    </update>

    <select id="get" parameterType="DictQuery" resultMap="POMap">
        <include refid="POSql"/>
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="key != null and key != ''">AND `key` = #{key}</if>
        </where>
    </select>

    <select id="getVO" parameterType="DictQuery" resultMap="VOMap">
        SELECT
            dict.id,
            dict.`name`,
            dict.`key`,
            dict.state,
            dict.remark,
            dict_data.`code`,
            dict_data.label,
            dict_data.type,
            dict_data.top,
            dict_data.spare
        FROM system_dict AS dict
        LEFT JOIN system_dict_data AS dict_data ON dict.`key` = dict_data.dict_key
        WHERE dict.is_deleted = 0 and dict.id = #{id}
    </select>

    <select id="list" parameterType="DictQuery" resultMap="POMap">
        <include refid="POSql"/>
        <where>
            <if test="nameLike != null and nameLike != ''">and name LIKE CONCAT('%',#{nameLike},'%')</if>
            <if test="keyLike != null and keyLike != ''">and `key` LIKE CONCAT('%',#{keyLike},'%')</if>
            <if test="state != null"> and state = #{state}</if>
        </where>
    </select>

    <select id="listTableVO" parameterType="DictQuery" resultMap="TableVOMap">
        SELECT
            id,
            `name`,
            `key`,
            state,
            remark
        FROM system_dict
        <where>
            is_deleted = 0
            <if test="nameLike != null and nameLike != ''">and `name` LIKE CONCAT('%',#{nameLike},'%')</if>
            <if test="keyLike != null and keyLike != ''">and `key` LIKE CONCAT('%',#{keyLike},'%')</if>
            <if test="state != null"> and state = #{state}</if>
        </where>
    </select>

    <select id="count" parameterType="DictQuery" resultType="int">
        SELECT
            COUNT(0)
        FROM system_dict
        <where>
            <if test="ridId != null ">and id != #{ridId}</if>
            <if test="name != null and name != ''"> and `name` = #{name}</if>
            <if test="key != null and key != ''"> and `key` = #{key}</if>
        </where>
    </select>

</mapper>
