<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.system.user.domain.dao.UserRoleDAO">

    <insert id="saveList" parameterType="UserRolePO">
        insert system_user_role( user_id , role_id, is_deleted ) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId},#{item.roleId},0)
        </foreach>
    </insert>

    <delete id="remove" parameterType="Integer">
        update system_user_role set is_deleted = 1 where is_deleted = 0 and user_id = #{userId}
    </delete>

    <delete id="delete" parameterType="Integer">
        delete from system_user_role where is_deleted = 0  and user_id = #{userId}
    </delete>

    <select id="count" parameterType="RoleQuery" resultType="int">
        SELECT
            COUNT(0)
        FROM system_user_role AS user_role
        LEFT JOIN system_role AS role ON user_role.role_id = role.id
        <where>
            user_role.is_deleted = 0
            <if test="userId != null ">and user_role.user_id != #{userId}</if>
            <if test="roleId != null ">and user_role.role_id != #{roleId}</if>
            <if test="roleKeys != null">and role.key IN
                <foreach collection="roleKeys" item="roleKey" open="(" separator="," close=")">
                    #{roleKey}
                </foreach>
            </if>
        </where>
    </select>


</mapper>
