<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form-pane" th:object="${_vo}">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li><a th:href="@{/system/role/list}" th:text="${_module.name}+列表"></a></li>
                        <li class="layui-this" th:text="${_module.name}+详情"></li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label">名称：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" th:value="*{name}" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">角色标识：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" th:value="*{key}"  disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单权限：</label>
                            <div class="layui-input-block">
                                <div id="menuTree"></div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" th:value="*{stateStr}" disabled>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea" th:value="*{remark}"  disabled></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: footer"></div>
        <script th:inline="none">

            layui.use('tree', () => {
                const {tree} = layui,
                    menuTree = [[${_vo.menus}]]

                // 菜单树
                tree.render({
                    id: 'menuTree',
                    elem: '#menuTree',
                    data: formatTree({
                        tree: menuTree,
                        parseNode: (node) => {
                            node.title = node.name
                            delete node.name
                        }
                    }),
                    text: {none: '无菜单权限'}
                })
            })
        </script>
    </body>

</html>