<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" class="layui-input" autocomplete="off"
                               name="nameLike" placeholder="请输入名称">
                    </div>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" autocomplete="off"
                               name="keyLike" placeholder="请输入标识">
                    </div>
                    <div class="layui-inline">
                        <select name="state">
                            <option value="">请选择一个状态</option>
                            <option value="0"
                                    th:each="state:${stateMap.values()}"
                                    th:value="${state.code}"
                                    th:text="${state.label}"></option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                            查询
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <div class="layout-table-tool">
                    <a class="layui-btn layui-btn-sm layui-btn-normal add-page-btn"
                       shiro:hasPermission=${_module.permissionPrefix+':add'}>
                        <i class="fa fa-plus"></i>
                        添加
                    </a>
                </div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script type="text/html" id="role-tool">
            <a class="layui-btn layui-btn-sm" lay-event="detail"
               shiro:hasPermission=${_module.permissionPrefix+':detail'}>查看</a>
            {{#  if(d.key != 'root'){ }}
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="update"
               shiro:hasPermission=${_module.permissionPrefix+':update'}>修改</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"
               shiro:hasPermission=${_module.permissionPrefix+':remove'}>移除</a>
            {{#  } }}
        </script>
        <script th:inline="javascript">
            const stateMap = [[${stateMap}]]
        </script>
        <script th:inline="none">
            const prefix = `${_gate}system/role`

            layui.use(['table', 'jquery'], () => {
                const {table} = layui
                tableRender({
                    table,
                    idField: 'key',
                    options: {
                        cols: [[
                            {field: 'name', title: '名称'},
                            {field: 'key', title: '标识'},
                            {
                                field: 'state', title: '状态',
                                templet: ({state}) => dictRender(state, stateMap)
                            },
                            {field: 'remark', title: '备注', minWidth: '150'},
                            {field: 'relateCount', title: '使用人数'},
                            {title: '操作', toolbar: '#role-tool'}
                        ]]
                    },
                    iframe: false
                })
            })
        </script>
    </body>

</html>