<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="username" class="layui-input" placeholder="Input Username"
                               autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="host" class="layui-input" placeholder="Input Host"
                               autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search-all">
                            <i class="fa fa-search"></i>
                            Search
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset-all">
                            <i class="fa fa-repeat"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:inline="javascript">
            const id = [[${id}]]
        </script>
        <script type="text/html" id="monitor-tool">
            {{# if(d.id == id){ }}
            <a class="layui-btn layui-btn-sm layui-btn-disabled">Current</a>
            {{# } else { }}
            <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="offline"
               shiro:hasPermission=${_module.permissionPrefix+':offline'}>Offline</a>
            {{# } }}
        </script>
        <script th:inline="none">
            const prefix = `${_gate}system/monitor`

            layui.use(['table', 'jquery', 'util'], () => {
                const {table} = layui

                tableRender({
                    table,
                    options: {
                        page: false,
                        cols: [[
                            {field: 'username', title: 'Username', minWidth: '100'},
                            {field: 'roleNames', title: 'Role', minWidth: '120'},
                            {field: 'host', title: 'IP', minWidth: '120'},
                            {field: 'os', title: 'OS', minWidth: '150'},
                            {field: 'browser', title: 'Browser', minWidth: '120'},
                            {field: 'loginTime', title: 'Login Time', sminWidth: '120'},
                            {field: 'lastAccessTime', title: 'Last Access', minWidth: '120'},
                            {title: 'Operation', toolbar: '#monitor-tool'}
                        ]],
                        parseData: ({code, info: msg, data}) => {
                            return {code, msg, data}
                        }
                    },
                    onTool: {
                        offline: (data) => {
                            confirm({
                                msg: `确认强退该用户吗`,
                                cb: () => httpPost({
                                    url: `${prefix}/rest/offline/${data.id}`,
                                    cb: () => msg(reloadTable)
                                })
                            })
                        }
                    }
                })
            })
        </script>
    </body>

</html>