/* 配色 */
.logo,
.main-layout-header .layui-nav > .layui-this a,
.main-layout-side .layui-nav-tree .layui-nav-child a .line {
    color: #1890ff;
}

.layui-btn-primary:hover,
.layui-form-select dl dd.layui-this,
.main-layout-header .layui-nav .layui-nav-item > a,
.main-layout-header .layui-nav .layui-nav-child dd.layui-this {
    color: #333;
}

.layui-form-label,
.main-layout-header > .console > li:hover {
    color: #666;
}


.main-layout-side .layui-nav-tree .layui-nav-bar {
    background: #1890ff;
}

.page-wrap,
.main-layout-header,
.main-layout-tab .layui-tab-title {
    background: #fff;
}


.quote-cancel,
.layui-form-select dl dd.layui-this,
.main-layout-tab .layui-tab-content .layui-tab-item,
.main-layout-header .layui-nav .layui-nav-child dd.layui-this {
    background: #f2f2f2;
}

.main-layout-container,
.main-layout-tab .layui-tab-content {
    background: #f5f5f5;
}

.main-layout .layui-tab-title li:hover,
.main-layout-header > .console > li:hover,
.main-layout-tab.layui-tab-brief > .layui-tab-title .layui-this {
    background: #f6f6f6;
}

.main-layout .layui-tab-title li:after,
.main-layout-side .layui-nav-tree .layui-this,
.main-layout-side, .main-layout-side .layui-nav,
.main-layout-side .layui-nav-tree .layui-nav-child dd.layui-this {
    background: #2f2f2f;
}

.main-layout-side .layui-nav-itemed > a,
.layui-nav-tree .layui-nav-item a:hover {
    background: rgba(255, 255, 255, .05);
}


.main-layout-side .layui-nav-tree .layui-this a,
.main-layout-side .layui-nav-tree .layui-nav-child .layui-this > a {
    background: rgba(255, 255, 255, .1);
}


.layui-btn-primary:hover {
    border-color: #00b5f9;
}

.layui-btn > .fa {
    vertical-align: bottom;
    line-height: 38px;
}

.layui-btn-sm > .fa {
    line-height: 30px;
}




.main-layout-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
}


/* 侧栏菜单 */
.logo {
    cursor: pointer;
    border-bottom: 1px solid;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    line-height: 61px;
}


.main-layout-side {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 200px;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
}

.layui-nav-item a .fa {
    margin-right: 5px;
}

.main-layout-side .layui-nav-tree .layui-nav-child a .line {
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 12px;
    height: 5px;
    border-top: 2px solid;
}

.main-layout.hide-side .main-layout-side {
    left: -200px;
}

.main-layout.hide-side .main-layout-container {
    left: 0;
}

.layui-nav-tree .layui-nav-item > div {
    text-align: center;
}

/* 主内容 */
.main-layout {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


/* 主内容头部 */
.main-layout-header {
    height: 60px;
    border-bottom: 1px solid #f0f0f0;
}

.main-layout-header a {
    text-decoration: none;
}

.main-layout-header > .console {
    float: left;
}

.main-layout-header > .console > li {
    display: inline-block;
    width: 50px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}


.main-layout-header .layui-nav {
    float: right;
    padding: 0;
    background: transparent;
}

.main-layout-header .layui-nav li {
    border-left: 1px solid #f2f3f5;
}


.main-layout-header .layui-nav .layui-nav-item > a:hover {
    color: #999;
}

.main-layout-header .layui-nav .layui-nav-bar {
    display: none;
}

.main-layout-header .layui-nav .layui-this:after {
    height: 0;
}


.main-layout-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 61px;
    overflow: hidden;
}

.main-layout-tab {
    margin-top: 0;
}

.main-layout-tab .layui-tab-title {
    z-index: 98;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.main-layout .layui-tab-title li {
    padding-right: 0;
}


.main-layout .layui-tab-title li:hover:after {
    width: 100%;
}

.main-layout .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    border: none;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.main-layout .layui-tab-title .home {
    padding-right: 15px;

}.main-layout-tab .home .layui-tab-close {
     display: none;
 }

.main-layout-tab.layui-tab-brief > .layui-tab-title .layui-this {
    color: #000;
}

.main-layout-tab.layui-tab-brief > .layui-tab-more li.layui-this:after,
.main-layout-tab.layui-tab-brief > .layui-tab-title .layui-this:after {
    width: 100%;
    border: none;
}



.main-layout-tab .layui-tab-content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 41px;
    padding: 0;
    z-index: 97;
    box-sizing: border-box;
}

.main-layout-tab .layui-tab-content .layui-tab-item {
    width: 100%;
    height: 100%;
}


.iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.main-mask {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
}

@media (max-width: 768px) {
    .main-layout-side {
        position: fixed;
        left: -200px;
        overflow: auto;
        overflow-x: hidden;
        z-index: 100;
    }

    .main-layout-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .main-layout.hide-side .main-layout-side {
        left: 0;
    }

    .main-layout.hide-side .main-mask {
        display: block;
    }

    ::-webkit-scrollbar {
        width: 2px;
        height: 0px;
    }
}


.page-wrap {
    margin: 1%;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.frame-wrap {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.frame-wrap > .layui-form,
.frame-wrap > .layui-form-pane {

    width: 85%;
    margin: 40px auto;
}


@media (max-width: 600px) {
    .layui-tab-content {
        padding: 15px 0;
    }

    .layui-form-label {
        padding: 9px 0;
    }

    .layui-input-block {
        margin-left: 80px;
    }
}
/* 全局表格兼容 */
.layui-table-fixed .layui-table-cell{
    overflow-x: auto;
    text-overflow: clip;

}
.layui-table-fixed  .tool{
    display: inline-block;
}



/* 全页面表单调整 */
.layui-tab-title {
    margin-bottom: 15px;
}

.page-wrap .layui-tab-content{
    max-width: 1500px;
}

/*富文本原字符开始不显示*/
.tinymce {
    display: none;
}


/* 时间选择 */
.date-picker {
    cursor: pointer;
}


/*图片上传*/
.layui-upload-drag .view {
    width: 100%;
    max-height: 300px;
}

.layui-upload-drag .tips {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

/*多图片上传*/
.layui-elem-quote {
    margin-top: 15px;
    display: table;
    padding: 10px 10px 10px 5px;
    border-left: 5px solid #00b5f9;
}

.layui-elem-quote > div {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #f2f2f2;
    background-size: cover;
    background-position: center;
}

.quote-cancel {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 35%;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(0, 0, 0, .25);
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.quote-cancel:hover {
    opacity: 1;
}


.load {
    background: url('../plugin/layui/css/modules/layer/default/loading-2.gif') no-repeat;
    width: 33px;
    height: 33px;
}

