
:root {
    --primary-color: #1890ff;

    --popover-background: #f5f5f5;

    --component-background: #fff;

    --border-color: #f2f3f5;
}

/* 配色 */
#layout-header .layui-nav > .layui-this a {
    color: #1890ff;
}

.layui-btn-primary:hover,
.layui-form-select dl dd.layui-this,
#layout-header .layui-nav .layui-nav-item > a,
#layout-header .layui-nav .layui-nav-child dd.layui-this {
    color: #333;
}

.layui-form-label,
.layout-aux-group . > li:hover {
    color: #666;
}


#layout-sider .layui-nav-tree .layui-nav-bar {
    background: #1890ff;
}


.quote-cancel,
.layui-form-select dl dd.layui-this,
#layout-header .layui-nav .layui-nav-child dd.layui-this {
    background: #f2f2f2;
}

#root .layui-tab-title li:hover,
.layout-aux-group > li:hover,
#layout-tab.layui-tab-brief > .layui-tab-title .layui-this {
    background: #f6f6f6;
}

#root .layui-tab-title li:after,
#layout-sider .layui-nav-tree .layui-this,
#layout-sider, #layout-sider .layui-nav,
#layout-sider .layui-nav-tree .layui-nav-child dd.layui-this {
    background: #2f2f2f;
}

#layout-sider .layui-nav-itemed > a,
.layui-nav-tree .layui-nav-item a:hover {
    background: rgba(255, 255, 255, .05);
}


#layout-sider .layui-nav-tree .layui-this a,
#layout-sider .layui-nav-tree .layui-nav-child .layui-this > a {
    background: rgba(255, 255, 255, .1);
}


.layui-btn-primary:hover {
    border-color: #00b5f9;
}

.layui-btn > .fa {
    vertical-align: bottom;
    line-height: 38px;
}

.layui-btn-sm > .fa {
    line-height: 30px;
}


/* 根节点 */
#root {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#root.lose-sider #layout-sider {
    left: -200px;
}

#root.lose-sider #layout-container {
    left: 0;
}

/* 侧栏 */
#layout-sider {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: hidden;
    transition:  left 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

#layout-sider > div {
    width: 120%;
    height: 100%;
    overflow: auto;
}

#layout-sider a > .fa {
    margin-right: 5px;
}

#layout-sider dd > a:before {
    content: '';
    margin: 0 10px 0 30px;
    display: inline-block;
    width: 10px;
    border-top: 2px solid;
    vertical-align: middle;
    color: var(--primary-color);
}

.logo {
    cursor: pointer;
    border-bottom: 1px solid;
    width: 200px;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    line-height: 61px;
    color: var(--primary-color);
}

#layout-sider-mask {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .3);
}


/* 主容器 */
#layout-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 2;
    transition: left .3s cubic-bezier(0.7, 0.3, 0.1, 1);
    background: var(--primary-color);
}


/* 头部 */
#layout-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    background: var(--component-background);
}

/* 辅助按钮组 */
.layout-aux-group > li {
    display: inline-block;
    width: 50px;
    height: 100%;
    line-height: 60px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

/* 侧栏控制 */
.sider-trigger-holder {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 100%;
}

.sider-trigger-icon {
    position: relative;
    width: 100%;
    height: 2px;
    background: #000;
    transition: background-color .3s;
}

.sider-trigger-icon:before, .sider-trigger-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: #000;
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), -webkit-transform .3s cubic-bezier(.78, .14, .15, .86), background-color .3s;
}

.sider-trigger-icon:before {
    top: -5px;
}

.sider-trigger-icon:after {
    top: 5px;
}

#root.lose-sider .sider-trigger-icon {
    background: transparent;
}

#root.lose-sider .sider-trigger-icon:before {
    transform: translateY(5px) rotate(45deg);
}

#root.lose-sider .sider-trigger-icon:after {
    transform: translateY(-5px) rotate(-45deg);
}


/* 用户组按钮 */
#layout-header .layui-nav {
    padding: 0;
    background: transparent;
}

#layout-header .layui-nav-item {
    border-left: 1px solid var(--border-color);
}

#layout-header .layui-nav-item > a:hover {
    color: #999;
}

#layout-header .layui-nav-bar {
    display: none;
}

#layout-header .layui-this:after {
    height: 0;
}


/* 标签 */

#layout-body {
    height: calc(100% - 61px);
    overflow: hidden;
}

#layout-tab {
    margin-top: 0;
    height: 100%;
    background: var(--component-background);
}

.layui-tab-item > iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

#layout-tab .layui-tab-content {
    padding: 0;
    height: 100%;
    z-index: 97;
    box-sizing: border-box;
    background: var(--popover-background);
}

#layout-tab .layui-tab-content .layui-tab-item {
    height: 100%;
}

#layout-tab .layui-tab-title {
    z-index: 98;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

#layout-tab .layui-tab-title li {
    padding-right: 0;
}

#layout-tab .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    border: none;
    transition: all .3s;
}

#layout-tab .layui-tab-title li:hover:after {
    width: 100%;
}


#layout-tab .home {
    padding-right: 15px !important;
}

#layout-tab .home .layui-tab-close {
    display: none;
}

#layout-tab.layui-tab-brief > .layui-tab-title .layui-this {
    color: #000;
}

#layout-tab.layui-tab-brief > .layui-tab-more li.layui-this:after,
#layout-tab.layui-tab-brief > .layui-tab-title .layui-this:after {
    width: 100%;
    border: none;
}


@media (max-width: 768px) {


    #layout-sider {
        left: -200px;
        z-index: 100;
    }

    #layout-container {
        left: 0;
        transition: transform .3s cubic-bezier(0.7, 0.3, 0.1, 1);;
    }

    #root.lose-sider #layout-sider {
        left: 0;
    }

    #root.lose-sider #layout-container {
        transform: translateX(200px);
    }

    #root.lose-sider #layout-sider-mask {
        display: block;
    }
}


.page-wrap {
    margin: 1%;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    background: var(--component-background);
}

.frame-wrap {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.frame-wrap > .layui-form,
.frame-wrap > .layui-form-pane {

    width: 85%;
    margin: 40px auto;
}


@media (max-width: 600px) {
    .layui-tab-content {
        padding: 15px 0;
    }

    .layui-form-label {
        padding: 9px 0;
    }

    .layui-input-block {
        margin-left: 80px;
    }
}

.layui-table-fixed > .tool {
    display: inline-block;
}


/* 全局表格兼容 */
.layui-table-fixed .layui-table-col-special > .layui-table-cell {
    overflow-x: auto;
    text-overflow: clip;
    min-width: 135px;
}


/* 全页面表单调整 */
/*.layui-tab-title {*/
/*    margin-bottom: 15px;*/
/*}*/

.page-wrap .layui-tab-content {
    max-width: 1500px;
}

/*富文本原字符开始不显示*/
.tinymce {
    display: none;
}


/* 时间选择 */
.date-picker {
    cursor: pointer;
}


/*图片上传*/
.layui-upload-drag .view {
    width: 100%;
    max-height: 300px;
}

.layui-upload-drag .tips {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

/*多图片上传*/
.layui-elem-quote {
    margin-top: 15px;
    display: table;
    padding: 10px 10px 10px 5px;
    border-left: 5px solid #00b5f9;
}

.layui-elem-quote > div {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #f2f2f2;
    background-size: cover;
    background-position: center;
}

.quote-cancel {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 35%;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(0, 0, 0, .25);
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.quote-cancel:hover {
    opacity: 1;
}


.load {
    background: url('../plugin/layui/css/modules/layer/default/loading-2.gif') no-repeat;
    width: 33px;
    height: 33px;
}

