
:root {
    --primary-color: #1890ff;

    --popover-background: #f2f2f2;

    --component-background: #fff;
    --component-background-hover: #f6f6f6;

    --text-color: #666;
    --text-color-hover: #333;

    --border-color: #f2f3f5;

    --sider-background: #1f1f1f;
    --sider-background-active: #555;
}

/* 根节点 */
#root {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#root.lose-sider #layout-sider {
    left: -200px;
}

#root.lose-sider #layout-container {
    left: 0;
}

/* 侧栏 */
#layout-sider {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: hidden;
    background: var(--sider-background);
    transition: left 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

#layout-sider > div {
    width: 120%;
    height: 100%;
    overflow: auto;
}


#layout-sider .layui-nav {
    background: var(--sider-background);
}

#layout-sider .layui-nav-bar {
    width: 4px;
    background: var(--sider-background-active);
}

#layout-sider .layui-nav-tree .layui-this > a,
#layout-sider .layui-nav-tree .layui-nav-child dd.layui-this a,
#layout-sider .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a {
    background-color: var(--sider-background-active);
}


#layout-sider .layui-nav-itemed > a,
#layout-sider .layui-nav-tree .layui-nav-item a:hover {
    background: rgba(255, 255, 255, .08);
}


#layout-sider dd > a {
    padding-left: 42px;
}

#layout-sider a > .fa {
    width: 14px;
    margin-right: 4px;
}

#layout-sider .logo {
    cursor: pointer;
    width: 200px;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    line-height: 61px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
}

#layout-sider-mask {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .3);
}


/* 主容器 */
#layout-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 2;
    transition: left .3s cubic-bezier(0.7, 0.3, 0.1, 1);
    background: var(--primary-color);
}


/* 头部 */
#layout-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    background: var(--component-background);
}

/* 辅助按钮组 */
.layout-aux-group > li {
    display: inline-block;
    width: 50px;
    height: 100%;
    color: var(--text-color);
    line-height: 60px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    transition: color, background-color .3s;
}

.layout-aux-group > li:hover {
    color: var(--text-color-hover);
    background: var(--component-background-hover);

}

/* 侧栏控制 */

#sider-trigger:hover .sider-trigger-icon,
#sider-trigger:hover .sider-trigger-icon:before,
#sider-trigger:hover .sider-trigger-icon:after {
    background: var(--text-color-hover);
}


.sider-trigger-holder {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sider-trigger-icon {
    position: relative;
    width: 14px;
    height: 2px;
    background: var(--text-color);
    transition: width, background-color .3s cubic-bezier(.78, .14, .15, .86);
}


.sider-trigger-icon:before, .sider-trigger-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 2px;
    box-sizing: border-box;
    background: var(--text-color);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), background-color .3s;
}

.sider-trigger-icon:before {
    top: -5px;
}

.sider-trigger-icon:after {
    top: 5px;
}

#root.lose-sider .sider-trigger-icon {
    width: 10px;
}

#refresh-content > .fa {
    transform: rotate(0deg);
    transition: transform .12s;
}

#refresh-content:active .fa {
    transform: rotate(180deg);
}


/* 用户组按钮 */
#layout-header .layui-nav {
    padding: 0;
    background: transparent;
}

#layout-header .layui-nav-item {
    border-left: 1px solid var(--border-color);
}

#layout-header .layui-nav-item.layui-this > a {
    color: var(--text-color-hover);
    background-color: var(--component-background-hover);
}


#layout-header .layui-nav-item > a {
    color: var(--text-color);
    transition: color, background-color .3s;
}

#layout-header .layui-nav-item > a:hover {
    color: var(--text-color-hover);
    background: var(--component-background-hover);
}

#layout-header .layui-nav-bar {
    display: none;
}

#layout-header .layui-this:after {
    height: 0;
}


/* 标签 */

#layout-body {
    flex-grow: 1;
    overflow: hidden;
}

#layout-tab {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 100%;
    background: var(--component-background);
}

#layout-tab .layui-tab-title {
    z-index: 98;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
}

#layout-tab .layui-tab-title li {
    padding-right: 0;
}


#layout-tab .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    border: none;
    transition: width .3s ease-in;
    background: var(--sider-background-active);
}

#layout-tab .layui-tab-title li:hover {
    background: var(--component-background-hover);
}

#layout-tab .layui-tab-title li:hover:after {
    width: 100%;
}


#layout-tab .home {
    padding-right: 15px !important;
}

#layout-tab .home .layui-tab-close {
    display: none;
}

#layout-tab.layui-tab-brief > .layui-tab-title .layui-this {
    color: var(--text-color-hover);
    background: var(--component-background-hover);
}

#layout-tab.layui-tab-brief > .layui-tab-more li.layui-this:after,
#layout-tab.layui-tab-brief > .layui-tab-title .layui-this:after {
    width: 100%;
    border: none;
}


#layout-tab .layui-tab-content {
    flex-grow: 1;
    padding: 0;
    z-index: 97;
    box-sizing: border-box;
    background: var(--popover-background);
}

#layout-tab .layui-tab-content .layui-tab-item {
    height: 100%;
}

.layui-tab-item > iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    #layout-sider {
        left: -200px;
        z-index: 100;
    }

    #layout-container {
        left: 0;
        transition: transform .3s cubic-bezier(0.7, 0.3, 0.1, 1);;
    }

    #root.lose-sider #layout-sider {
        left: 0;
    }

    #root.lose-sider #layout-container {
        transform: translateX(200px);
    }

    #root.lose-sider #layout-sider-mask {
        display: block;
    }

    #root.lose-sider .sider-trigger-icon {
        background: transparent;
    }

    #root.lose-sider .sider-trigger-icon:before {
        transform: translateY(5px) rotate(45deg);
    }

    #root.lose-sider .sider-trigger-icon:after {
        transform: translateY(-5px) rotate(-45deg);
    }

}


/* 页面布局 */
.layout-page {
    margin: 1%;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    background: var(--component-background);
}

.layout-page .layui-tab-content {
    max-width: 1500px;
}

.layout-iframe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.layout-iframe > .layui-form,
.layout-iframe > .layui-form-pane {
    width: 85%;
    margin: 40px auto;
}


/* 全局样式 */
.layui-form-label,
.layui-form-select dl dd.layui-this {
    color: var(--text-color);
    background: var(--popover-background);
}

.layui-btn-primary:hover {
    border-color: var(--primary-color);
}

@media (max-width: 768px) {
    .layui-form-pane .layui-form-label {
        width: 80px;
    }

    .layui-form-pane .layui-input-block {
        margin-left: 80px;
    }
}

@media (min-width: 768px) {
    .layui-layer-iframe {
        max-width: 85%;
        max-height: 80%;
    }
}

/* 全局兼容 */
.layui-table-col-special .layui-table-cell {
    width: auto;
    height: auto;
    overflow: visible;
    text-overflow: inherit;
}

.layui-btn-sm > .fa {
    line-height: inherit;
    vertical-align: bottom;
}


/*富文本原字符开始不显示*/
.tinymce {
    display: none;
}


/* 时间选择 */
.date-picker {
    cursor: pointer;
}


/*图片上传*/
.layui-upload-drag .view {
    width: 100%;
    max-height: 300px;
}

.layui-upload-drag .tips {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

/*多图片上传*/
.layui-elem-quote {
    margin-top: 15px;
    display: table;
    padding: 10px 10px 10px 5px;
    border-left: 5px solid #00b5f9;
}

.layui-elem-quote > div {
    display: inline-block;
    position: relative;
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid #f2f2f2;
    background-size: cover;
    background-position: center;
}

.quote-cancel {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 35%;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    background: rgba(0, 0, 0, .25);
    transition: opacity .2s;
    -webkit-transition: opacity .2s;
}

.quote-cancel:hover {
    opacity: 1;
}


.load {
    background: url('../plugin/layui/css/modules/layer/default/loading-2.gif') no-repeat;
    width: 33px;
    height: 33px;
}

