/* 根节点 */
#root.lose-sider > .layout-sider {
    left: -200px;
}

#root.lose-sider > .layout-main {
    left: 0;
}

/* 侧栏 */
.layout-sider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow: hidden;
    background: var(--sider-background);
    transition: left 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.layout-sider > .logo {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    line-height: 61px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
}

.layout-sider > .layui-nav {
    background: var(--sider-background);
}

.layout-sider > .layui-nav > .layui-nav-bar {
    width: 4px;
    background: var(--sider-background-active);
}

.layout-sider > .layui-nav .layui-this,
.layout-sider > .layui-nav .layui-this > a,
.layout-sider > .layui-nav .layui-nav-child > dd.layui-this a {
    background-color: var(--sider-background-active) !important;
}


.layout-sider > .layui-nav .layui-nav-itemed > a,
.layout-sider > .layui-nav .layui-nav-item a:hover {
    background: rgba(255, 255, 255, .08);
}


.layout-sider > .layui-nav dd > a {
    padding-left: 42px;
}

.layout-sider > .layui-na a > .fa {
    width: 14px;
    margin-right: 4px;
}

#layout-sider-mask {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .3);
}


/* 主容器 */
.layout-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    z-index: 2;
    transition: left .3s cubic-bezier(0.7, 0.3, 0.1, 1);
    background: var(--primary-color);
}


/* 头部 */
.layout-main > .header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
    background: var(--component-background);
}

/* 辅助按钮组 */
.layout-main > .header > .aux-group > li {
    display: inline-block;
    width: 50px;
    height: 100%;
    color: var(--text-color);
    line-height: 60px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    transition: color, background-color .3s;
}

.layout-main > .header > .aux-group > li:hover {
    color: var(--text-color-hover);
    background: var(--component-background-hover);

}

/* 侧栏控制 */

#sider-trigger:hover .sider-trigger-icon,
#sider-trigger:hover .sider-trigger-icon:before,
#sider-trigger:hover .sider-trigger-icon:after {
    background: var(--text-color-hover);
}


.sider-trigger-holder {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sider-trigger-icon {
    position: relative;
    width: 14px;
    height: 2px;
    background: var(--text-color);
    transition: width, background-color .3s cubic-bezier(.78, .14, .15, .86);
}


.sider-trigger-icon:before, .sider-trigger-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 2px;
    box-sizing: border-box;
    background: var(--text-color);
    transition: transform .3s cubic-bezier(.78, .14, .15, .86), background-color .3s;
}

.sider-trigger-icon:before {
    top: -5px;
}

.sider-trigger-icon:after {
    top: 5px;
}

#root.lose-sider .sider-trigger-icon {
    width: 10px;
}


/* 用户组按钮 */
.layout-main .header .layui-nav {
    padding: 0;
    background: transparent;
}

.layout-main .header .layui-nav-item.layui-this > a {
    color: var(--text-color-hover);
    background-color: var(--component-background-hover);
}


.layout-main .header .layui-nav-item > a {
    color: var(--text-color);
    transition: color, background-color .3s;
}

.layout-main .header .layui-nav-item > a:hover {
    color: var(--text-color-hover);
    background: var(--component-background-hover);
}

.layout-main .header .layui-nav-bar {
    display: none;
}

.layout-main .header .layui-this:after {
    height: 0;
}


/* 标签 */

.layout-main > .body {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.layout-main > .body > .layui-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--component-background);
}

.layout-main > .body > .layui-tab > .tab-tool {
    position: absolute;
    width: 100%;
    height: 40px;
}


.layout-main > .body > .layui-tab > .tab-tool > .layui-btn {
    position: absolute;
    margin-left: 0;
    width: 50px;
    z-index: 6;
    border-color: #f6f6f6;
    height: 100%;
}

.layout-main > .body > .layui-tab > .tab-tool > #prev-page {
    left: 0;
    font-size: 20px;
    border-width: 0 1px 0 0;
}

.layout-main > .body > .layui-tab > .tab-tool > #next-page {
    right: 50px;
    font-size: 20px;
    border-width: 0 0 0 1px;
}

.layout-main > .body > .layui-tab > .tab-tool > #tool-more {
    right: 0;
    border-width: 0 0 0 1px;
}

.layout-main > .body > .layui-tab .layui-tab-title {
    padding: 0 100px 0 50px;
    z-index: 5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.layout-main > .body > .layui-tab .layui-tab-title li {
    height: 100%;
    padding-right: 25px;
    text-align: left;
}

.layout-main > .body > .layui-tab .layui-tab-title li .text {
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.layout-main > .body > .layui-tab .layui-tab-title li .text-spread {
    display: none;
    position: absolute;
    top: 40px;
    left: -10px;
    right: -10px;
    line-height: 25px;
    padding: 10px 15px;
    white-space: normal;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: var(--component-background);
}


.layout-main > .body > .layui-tab .layui-tab-title li .layui-tab-close {
    position: absolute;
    right: 0;
    top: 11px;
}

.layout-main > .body > .layui-tab .layui-tab-title li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    border: none;
    transition: width .3s ease-in;
    background: var(--sider-background-active);
}

.layout-main > .body > .layui-tab .layui-tab-title li:hover {
    background: var(--component-background-hover);
}

.layout-main > .body > .layui-tab .layui-tab-title li:hover:after {
    width: 100%;
}

.layout-main > .body > .layui-tab .layui-tab-title li.home {
    text-align: center;
    padding-right: 15px;
}

.layout-main > .body > .layui-tab .home .layui-tab-close {
    display: none;
}

.layout-main > .body > .layui-tab.layui-tab-brief > .layui-tab-title .layui-this {
    color: var(--text-color-hover);
    background: var(--component-background-hover);
}

.layout-main > .body > .layui-tab.layui-tab-brief > .layui-tab-more li.layui-this:after,
.layout-main > .body > .layui-tab.layui-tab-brief > .layui-tab-title .layui-this:after {
    width: 100%;
    border: none;
}


.layout-main > .body > .layui-tab .layui-tab-content {
    flex-grow: 1;
    padding: 0;
    height: 100%;
    z-index: 97;
    box-sizing: border-box;
    background: var(--popover-background);
}

.layout-main > .body > .layui-tab .layui-tab-content .layui-tab-item {
    height: 100%;
}

.layui-tab-item > iframe {
    border: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .layout-sider {
        left: -200px;
        z-index: 100;
    }

    .layout-main {
        left: 0;
        transition: transform .3s cubic-bezier(0.7, 0.3, 0.1, 1);;
    }

    #root.lose-sider > .layout-sider {
        left: 0;
    }

    #root.lose-sider > .layout-main {
        transform: translateX(200px);
    }

    #root.lose-sider > #layout-sider-mask {
        display: block;
    }

    #root.lose-sider .sider-trigger-icon {
        background: transparent;
    }

    #root.lose-sider .sider-trigger-icon:before {
        transform: translateY(5px) rotate(45deg);
    }

    #root.lose-sider .sider-trigger-icon:after {
        transform: translateY(-5px) rotate(-45deg);
    }

    #full-screen {
        display: none;
    }
}
