#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url("../img/login/bg.jpg") no-repeat center / cover;
}

.login {
    margin: 0 0 5% 50%;
}


.login-holder {
    margin: 15px auto;
    padding: 25px;
    width: 75vw;
    max-width: 350px;
    background: var(--component-background);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.login-holder .layui-input {
    background: #ececec;
    border: 1px solid #ececec;
    transition-property: none;
    -webkit-transition-property: none;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn-group > button {
    width: 48%;
}


.login-holder > .layui-form > .layui-form-item:last-child {
    margin-bottom: 0;
}

.copyright {
    color: #eee;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .login {
        margin-left: 0;
    }

    #root {
        background-position-x: -65vw;
    }

}
