#root {
  background: url("../img/login/login_bg.png") left center repeat-x;
  height: 100vh
}

.login{
  position: absolute;
  top: 27.5%;
  width: 100%;
}

.login .title{
  color: #fff;
  line-height: 50px;
  font-size: 1.75rem;
  text-align: center;
}

.login-holder{
  margin: 15px auto;
  padding: 25px;
  width: 75vw;
  max-width: 350px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.btn-item{
  display: table;
  width: 100%;
}
.btn-item .layui-inline{
  display: inline-block !important;
  width: 49%;
  margin: 0;
}
.btn-item>.layui-inline:nth-child(even){
  margin-left: 2%;
}
.btn-item .layui-btn{
  width: 100%;
}

.login-holder .layui-input{
    height: 40px;
    line-height: 40px;
    background: #ececec;
    border: 1px solid #ececec;
    -webkit-transition-property: none;
    transition-property: none;
}
.login .copyright {
  color: #999;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .login{
    top: 18%;
  }
}
