<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <style>
        .rove {
            display: none;
        }

        .image-view {
            cursor: pointer;
        }

        .layui-form-switch {
            min-width: 50px;
        }

        .layui-table-cell {
            height: auto;
        }

        #image-quote > div:after {
            content: attr(data-text);
            position: absolute;
            left: 35%;
        }
    </style>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-bg-blue" id="image-add">添加图片</button>
                    </div>

                    <div class="layui-inline">
                        <input type="checkbox" lay-filter="isCompress" lay-skin="switch" lay-text="压缩|原图">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="remark" class="layui-input image-remark rove" placeholder="请输入备注"
                               autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-normal rove" id="images-upload" lay-submit
                                lay-filter="submit">
                            开始上传
                        </button>
                    </div>
                    <div>
                        <blockquote class="layui-elem-quote layui-quote-nm rove" id="image-quote">
                        </blockquote>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script type="text/html" id="cd">
            <div class="tool">
                <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="copy">Copy URL</a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"
                   shiro:hasPermission=${m.permissionPrefix+':remove'}>Remove</a>
            </div>
        </script>

        <script th:src="@{/js/au.js}"></script>
        <script th:inline="none">
            const prefix = `${gate}system/image`

            layui.use(['table', 'jquery', 'upload', 'form'], () => {
                    const {table, jquery: $, upload, form} = layui,
                        cols = [[
                            {
                                field: 'url', title: '图片', minWidth: '120',
                                templet: ({url}) => `<img src="${url}" class="image-view"/>`
                            },
                            {field: 'remark', title: '备注', minWidth: '120'},
                            {title: '操作',  toolbar: '#cd'}
                        ]],
                        area = '.rove'

                    tableRender(table, {cols})
                    table.on('tool(table)', toolHandle)

                    function toolHandle({data, event}) {
                        switch (event) {
                            case 'copy':
                                copy(data.url)
                                break
                        }
                        iframeAction({data, event})
                    }

                    // 多图片上传
                    let urlList = [],
                        failCount = 0,
                        isCompress = false
                    const uploader = upload.render({
                        elem: '#image-add',
                        url: uploadURL + 'upload/multipart',
                        data: {
                            prefix: uploadPrefix
                        },
                        auto: false,
                        size: 16384,
                        multiple: true,
                        bindAction: '#images-upload',
                        acceptMime: 'image/*',
                        choose: function (obj) {
                            let files = this.files = obj.pushFile()
                            obj.preview((index, file, result) => {
                                let $quote = $('#image-quote')
                                if (0 === $quote.children().length) {
                                    $(area).slideDown()
                                }
                                const $view = $(`<div style="background-image: url(${result})" data-text="${isCompress ? '压缩' : '原图'}"><div class="quote-cancel"><i class="fa fa-remove"></i></div></div>`)
                                $view.click(() => {
                                    $view.remove()
                                    delete files[index]
                                    uploader.config.elem.next()[0].value = ''
                                    0 === $quote.children().length && $(area).slideUp()
                                })
                                $quote.append($view)
                                // 压缩
                                if (isCompress) {
                                    compress(result, (dataURL) => {
                                        obj.resetFile(index, dataURLtoFile(dataURL), 'example.jpg')
                                    })
                                }
                            })
                        },
                        before: () => {
                            loading()
                        },
                        done: function ({code, info, data}, fileIndex) {
                            if (fail(code)) {
                                console.log(`fail:${++failCount} | info:${info}`)
                                return
                            }
                            delete this.files[fileIndex]
                            urlList.push(data[0].origin)
                        },
                        allDone: () => {
                            let remark = $('.image-remark').val()
                            httpPost({
                                url: prefix + '/rest/save',
                                data: {urlList, remark},
                                cb: ({code, info, data = 0}) => {
                                    loaded()
                                    if (fail(code)) return warn(info)
                                    let msg = 0 === (failCount += data) ? '操作成功' : `失败 ${failCount} 个`
                                    urlList = []
                                    failCount = 0
                                    done(() => {
                                        reloadTable()
                                        $(area).slideUp()
                                        $('.layui-elem-quote').empty()
                                        $('.image-remark').val('')
                                    }, msg)
                                }
                            })
                        }
                    })

                    form.on('switch(isCompress)', (data) => {
                        isCompress = data.elem.checked
                    });

                    $('body').on('click', '.image-view', function () {
                        window.open($(this).data('url'))
                    })
                }
            )

        </script>
    </body>

</html>