<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <style>
        .image-remark {
            margin: 0 10px;
            display: inline-block;
            width: 25%;
            min-width: 100px;
            max-width: 300px;
            vertical-align: top;
        }

        .image-remark, #images-upload, .layui-elem-quote {
            display: none;
        }


    </style>
    <body>
        <div class="page-wrap">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div>
                        <button type="button" class="layui-btn layui-bg-blue" id="images">添加图片</button>
                        <input type="text" name="remark" class="layui-input image-remark" placeholder="请输入备注"
                               autocomplete="off">
                        <button type="button" class="layui-btn layui-btn-normal" id="images-upload" lay-submit
                                lay-filter="submit">
                            开始上传
                        </button>
                        <blockquote class="layui-elem-quote layui-quote-nm" id="images-quote">

                        </blockquote>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:src="@{/js/au.js}"></script>
        <script th:inline="none">
            const prefix = `${gate}system/image`

            layui.use(['table', 'jquery', 'upload'], () => {
                const {table, jquery: $, upload} = layui,
                    cols = [[
                        {field: 'url', title: '地址', align: 'center'},
                        {field: 'thumbnailUrl', title: '缩略图', align: 'center'},
                        {field: 'remark', title: '备注', align: 'center'},
                        {title: '操作', width: '190', fixed: 'right', align: 'center', toolbar: '#d'}
                    ]],
                    area = '.image-remark,#images-upload,.layui-elem-quote'

                table.render(fillDefault(cols))
                table.on('tool(table)', handleAction)

                // 多图片上传
                let index = -1,
                    failCount = 0,
                    allData = {}
                upload.render({
                    elem: '#images',
                    url: UPLOAD_URL,
                    data: {
                        prefix: UPLOAD_PREFIX,
                        createThumbnail: true,
                        thumbnailScale: 0.4
                    },
                    auto: false,
                    size: 16384,
                    multiple: true,
                    bindAction: '#images-upload',
                    acceptMime: 'image/*',
                    choose: obj => {
                        obj.preview((index, file, result) => {
                            if (0 === $('.layui-elem-quote').children().length) {
                                $(area).slideDown()
                            }
                            $('#images-quote').append(`<div style="background-image: url(${result})"><div class="quote-cancel"><i class="fa fa-remove"></i></div></div>`)
                        })
                    },
                    before: () => {
                        loading()
                    },
                    done: ({code, info, data}) => {
                        if (fail(code)) {
                            console.log(`fail:${++failCount} | info:${info}`)
                            return
                        }
                        allData[`imageList[${++index}].url`] = data[0].origin
                        allData[`imageList[${index}].thumbnailUrl`] = data[0].thumbnail
                    },
                    allDone: () => {
                        allData.remark = $('.image-remark').val()
                        $.post(prefix + '/rest/save', allData, ({code, info, data = 0}) => {
                            loaded()
                            if (fail(code)) return warn(info)
                            let msg = 0 === (failCount += data) ? '操作成功' : `失败 ${failCount} 个`
                            allData = {}
                            index = -1
                            failCount = 0
                            done(() => {
                                reloadTable()
                                $(area).slideUp()
                                $('.layui-elem-quote').empty()
                                $('.image-remark').val('')
                            }, msg)
                        })
                    }
                })

                $('body').on('click', '.quote-cancel', function () {
                    $(this).parent().remove()
                    if ($('.layui-elem-quote').children().length) {
                        $(area).slideUp()
                    }
                })
            })
        </script>
    </body>

</html>