<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <style>
        .layout-table-tool {
            text-align: left;
        }

        .layui-table-cell {
            height: auto;
        }

        .rove {
            display: none;
        }

        .layui-elem-quote > .compress {
            border-color: var(--layui-green);
        }

        .image-view {
            cursor: pointer;
        }
    </style>
    <body>
        <div class="layout-page">
            <div>
                <div class="layout-table-tool">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-sm layui-bg-blue add-image">Full Upload
                            </button>
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-sm add-image" data-type="compress">
                                Compression Upload
                            </button>
                        </div>
                        <div class="layui-inline">
                            <input type="text" class="layui-input image-remark rove" autocomplete="off"
                                   name="remark" placeholder="Input Remark">
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-sm layui-btn-normal rove"
                                    lay-submit lay-filter="submit"
                                    id="image-upload">
                                Start Uploading
                            </button>
                        </div>
                        <blockquote class="layui-elem-quote layui-quote-nm rove" id="image-upload-quote"></blockquote>
                    </div>
                </div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script type="text/html" id="image-tool">
            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="copy">Copy URL</a>
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"
               shiro:hasPermission=${_module.permissionPrefix+':remove'}>Remove</a>
        </script>

        <script th:src="@{/js/au.js}"></script>
        <script th:inline="none">
            const prefix = `${_gate}system/image`

            layui.use(['table', 'jquery', 'upload', 'form'], () => {
                    const {table, jquery: $, upload} = layui,
                        cols = [[
                            {
                                field: 'url', title: 'Image', minWidth: '120',
                                templet: ({url}) => `<img src="${url}" class="image-view"/>`
                            },
                            {field: 'remark', title: 'Remark', minWidth: '120'},
                            {title: 'Operation', toolbar: '#image-tool'}
                        ]]

                    tableRender(table, {cols})
                    table.on('tool(table)', ({data, event}) => {
                            switch (event) {
                                case 'copy':
                                    return copy(data.url)
                            }
                            iframeAction({data, event})
                        }
                    )


                    $(document.body).on('click', '.image-view', function () {
                        window.open($(this).attr('src'))
                    })

                    $('.add-image').click(function () {
                        isCompress = $(this).data('type')
                    })

                    // 多图片上传
                    let urlList = [],
                        failCount = 0,
                        isCompress

                    const uploader = uploadRender(upload, {
                        elem: '.add-image',
                        data: {prefix: _upload.prefix, keepName: false},
                        auto: false,
                        size: 16384,
                        multiple: true,
                        bindAction: '#image-upload',
                        acceptMime: 'image/*',
                        choose: function (obj) {
                            let files = this.files = obj.pushFile()
                            obj.preview((index, file, result) => {
                                let $quote = $('#image-upload-quote')
                                0 === $quote.children().length && $('.rove').slideDown()
                                const $view = $(`<div style="background-image: url(${result})" class="${isCompress && 'compress'}"><div class="elem-quote-remove"><i class="fa fa-remove"></i></div></div>`)
                                $view.click(() => {
                                    $view.remove()
                                    delete files[index]
                                    uploader.config.elem.next()[0].value = ''
                                    0 === $quote.children().length && $('.rove').slideUp()
                                })
                                $quote.append($view)
                                isCompress && compress(result, (dataURL) => {
                                    obj.resetFile(index, dataURLtoFile(dataURL), 'example.jpg')
                                })
                            })
                        },
                        before: () => loading(),
                        done: function ({code, info, data}, fileIndex) {
                            if (fail(code)) return console.log(`fail:${++failCount} | info:${info}`)
                            delete this.files[fileIndex]
                            urlList.push(data[0].origin)
                        },
                        allDone: () => {

                            if (0 === urlList.length) {
                                loaded()
                                return warn('上传失败')
                            }

                            let remark = $('.image-remark').val()
                            httpPost({
                                url: `${prefix}/rest/save`,
                                data: {urlList, remark},
                                cb: (data) => {
                                    loaded()
                                    urlList = []
                                    failCount = 0
                                    msg(() => {
                                        reloadTable()
                                        $('.rove').slideUp()
                                        $('.layui-elem-quote').empty()
                                        $('.image-remark').val('')
                                    }, 0 === (failCount += data) ? '操作成功' : `失败 ${failCount} 个`)
                                }
                            })
                        }
                    })

                }
            )

        </script>
    </body>

</html>