<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="visitor.id" class="layui-input" placeholder="请输入访客ID"
                               autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="apiLike" class="layui-input" placeholder="请输入请求接口" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="paramLike" class="layui-input" placeholder="请输入请求参数" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button id="id" class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                            搜索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:inline="none">
            const prefix = `${_gate}access/log`
            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[
                        {
                            field: 'visitor', title: '访客',minWidth:'120',
                            templet: ({id, visitor}) => {
                                let {id: visitorId, nickname = '-'} = visitor
                                return `<div id="${id}" onmouseenter="tips(${id},'${visitorId}')">${nickname}</div>`
                            }
                        },
                        {field: 'host', title: '主机地址', minWidth:'120',},
                        {field: 'mfrs', title: '设备厂商',minWidth:'150'},
                        {field: 'os', title: '操作系统',minWidth:'150'},
                        {field: 'api', title: '请求接口',minWidth:'120',},
                        {field: 'param', title: '请求参数',minWidth:'120',templet:({param})=>param?param:'-'},
                        {
                            field: 'gmtCreate', title: '访问时间', minWidth:'120',
                            templet: ({gmtCreate}) => formatDate(gmtCreate)
                        },
                        {title: '操作',   toolbar: '#r'}
                    ]]
                 tableRender(table,{cols})
                table.on('tool(table)', pageAction)
            })
        </script>
    </body>

</html>