
<head th:fragment="header" xmlns:th="http://www.thymeleaf.org">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>后台管理</title>
	<link rel="stylesheet" th:href="@{/plugin/layui/css/layui.css}" />
	<link rel="stylesheet" th:href="@{/css/admin.css}" />
	<link rel="stylesheet" th:href="@{/css/font-awesome.css}" />
	<script th:inline="javascript">
		const gate = [[${g}]]
	</script>
</head>

<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

	<script th:src="@{/plugin/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</div>


<div th:fragment="au-footer" xmlns:th="http://www.thymeleaf.org">
	<script th:src="@{/plugin/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/au.js}"></script>
</div>
rmn tpn l131

<div th:fragment="list-footer" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<script th:inline="javascript">
		const m = [[${m}]]
	</script>
	<script th:src="@{/plugin/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/list.js}"></script>

	<script type="text/html" id="rud">
		<a class="layui-btn layui-btn-sm" lay-event="detail"  shiro:hasPermission=${m.permissionPrefix+':detail'}>查看</a>
		<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="update"  shiro:hasPermission=${m.permissionPrefix+':update'}>修改</a>
		<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"  shiro:hasPermission=${m.permissionPrefix+':remove'}>移除</a>
	</script>

	<script type="text/html" id="ud">
		<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="update"  shiro:hasPermission=${m.permissionPrefix+':update'}>修改</a>
		<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"  shiro:hasPermission=${m.permissionPrefix+':remove'}>移除</a>
	</script>

</div>




