<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<style>
		.banner{
			overflow: hidden;
			height: 60vh;
			text-align: center;
			background: url("[[@{/}]]img/welcome.png");
			background-size: cover;
			background-position: center;
		}
		.banner-holder{
			margin-top: 20vh;
			padding: 0 5%;
		}
		.banner-title{
			margin-bottom: 1em;
			font-size: 1.8rem;
			font-weight: 800;
		}

	</style>
	<body>
		<div>
			<div class="banner">
				<div class="banner-holder">
					<div class="banner-title">记录生活 分享技术</div>
					<div>编程是一门艺术，生活亦是如此</div>
				</div>
			</div>
		</div>
	</body>
</html>
