<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-iframe">
            <form class="layui-form-pane" th:object="${_vo}">

                <div class="layui-form-item">
                    <label class="layui-form-label">昵称：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{fromVisitor.nickname}" disabled>
                    </div>
                </div>

                <div class="layui-form-item" th:if="*{fromVisitor.email}">
                    <label class="layui-form-label">邮箱：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{fromVisitor.email}" disabled>
                    </div>
                </div>

                <div class="layui-form-item" th:if="*{fromVisitor.website}">>
                    <label class="layui-form-label">网站：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{fromVisitor.website}" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">内容：</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" th:text="*{content}" disabled rows="5">
                        </textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{stateStr}" disabled></a>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">评论时间：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{gmtCreate}" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">IP：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{ip}" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">用户代理：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{ua}" disabled>
                    </div>
                </div>


                <div class="layui-form-item" th:if="${ _vo.state == 0 }"
                     shiro:hasPermission=${_module.permissionPrefix+':check'}>
                    <div class="layui-input-block">
                        <a class="layui-btn layui-btn-sm layui-btn-normal" id="pass">Pass</a>
                        <a class="layui-btn layui-btn-sm layui-btn-danger" id="no-pass">No Pass</a>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: footer"></div>
        <script th:inline="javascript">
            const prefix = `${_gate}comment`

            layui.use(['jquery'], () => {
                const {jquery: $} = layui

                $('#pass').click(() => httpPost({
                        url: `${prefix}/rest/pass/${$('#id').val()}`,
                        cb: () => iframeDone()
                    })
                )

                $('#no-pass').click(() => httpPost({
                        url: `${prefix}/rest/pass/no/${$('#id').val()}`,
                        cb: () => iframeDone()
                    })
                )
            })
        </script>
    </body>

</html>