<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <select name="state">
                            <option value="">请选择一个状态</option>
                            <option th:each="state:${stateMap.values()}"
                                    th:value="${state.code}"
                                    th:text="${state.label}"></option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <button id="id" class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                            查询
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script type="text/html" id="comment-tool">
            <a class="layui-btn layui-btn-sm" lay-event="detail"
               shiro:hasPermission=${_module.permissionPrefix+':detail'}>查看</a>
            {{# if( d.state == 0) { }}
            <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="pass"
               shiro:hasPermission=${_module.permissionPrefix+':check'}>通过</a>
            <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="noPass"
               shiro:hasPermission=${_module.permissionPrefix+':check'}>屏蔽</a>
            <a class="layui-btn layui-bg-black layui-btn-sm" lay-event="block"
               shiro:hasPermission=${_module.permissionPrefix+':block'}>禁言</a>
            {{#  } else if(d.state == 1 ){ }}
            {{#  if(d.fromVisitor.id != 0 ){ }}
            <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="reply"
               shiro:hasPermission=${_module.permissionPrefix+':reply'}>回复</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="updateReply"
               shiro:hasPermission=${_module.permissionPrefix+':reply'}>修改回复</a>
            {{#  } }}
            {{#  } }}
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"
               shiro:hasPermission=${_module.permissionPrefix+':remove'}>移除</a>
        </script>
        <script th:inline="javascript">
            const stateMap = [[${stateMap}]]
        </script>
        <script>
            const prefix = `${_gate}comment`
            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[
                        {
                            field: 'fromVisitor', title: '昵称',
                            templet: ({fromVisitor}) => fromVisitor.nickname
                        },
                        {field: 'content', title: '内容'},
                        {
                            field: 'gmtCreate',
                            title: '评论时间',
                            templet: ({gmtCreate}) => formatDate(gmtCreate, 'yyyy-MM-dd')

                        },
                        {
                            field: 'state', title: '状态',
                            templet: ({state}) => dictRender(state, stateMap)
                        },
                        {title: '操作', toolbar: '#comment-tool'}
                    ]]

                tableRender(table, {cols})
                table.on('tool(table)', ({data, event}) => {
                    switch (event) {
                        case 'reply':
                            newFrame(`回复${_module.name}`, `${prefix}/reply/${data.id}`)
                            break
                        case 'updateReply':
                            newFrame('修改回复', `${prefix}/reply/update/${data.id}`)
                            break
                        case 'pass':
                            httpPost({
                                url: `${prefix}/rest/pass/${data.id}`,
                                cb: () => msg(reloadTable)
                            })
                            break
                        case 'noPass':
                            httpPost({
                                url: `${prefix}/rest/pass/no/${data.id}`,
                                cb: () => msg(reloadTable)
                            })
                            break
                        case 'block':
                            newFrame('禁言', `${prefix}/block/${data.id}`)
                            break
                    }
                    iframeAction({data, event})
                })
            })

        </script>
    </body>

</html>