<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-iframe">
            <form class="layui-form  " id="form" th:attr="_action=${_action}">
                <input type="hidden" name="id" th:value="${_vo.id}">
#set($left="${")
#foreach ($column in $table.columnList)

                <div class="layui-form-item">
                    <label class="layui-form-label">${column.comment}：</label>
                    <div class="layui-input-block">
                        <input type="text" name="${column.attrName}" lay-verify="required" th:value="$left _vo.${column.attrName} }" class="layui-input" placeholder="请输入${column.comment}" autocomplete="off"  >
                    </div>
                </div>
#end

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: au-footer"></div>
        <script th:inline="none">
            const prefix =  `${_gate}${app.module}/${table.objectName}`

            layui.use(['form', 'jquery'],  ()=> {
                const {form, jquery: $} = layui

                //监听提交
                form.on('submit(submit)',  iframeSubmit)
            })

        </script>
    </body>

</html>