<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <div>
                <div class="layout-table-tool">
#set($permission="_module.permissionPrefix+':add'")
                    <a class="layui-btn layui-btn-sm layui-btn-normal add-iframe-btn" shiro:hasPermission=${${permission}}>
                        <i class="fa fa-plus"></i> 添加
                    </a>
                </div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:inline="none">
            const prefix = `${_gate}${app.modulePath}${table.objectName}`

            layui.use(['table', 'jquery'], () => {
                const {table} = layui

                tableRender({
                    table,
                    options:{
                        cols:[[
#foreach ($column in $table.columnList)
#if(!$table.primaryKeys.contains($column))
                            {field: '${column.attrName}', title: '${column.comment}'},
#end
#end
                            {title: '操作',  toolbar: '#rud'}
                        ]]
                    }
                })
            })
        </script>
    </body>

</html>