<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
#set($left="${")
                        <a class="layui-btn layui-btn-sm layui-btn-normal add-btn" shiro:hasPermission=$left _module.permissionPrefix+':add'}>
                            <i class="fa fa-plus"></i> 添加
                        </a>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script th:inline="none">
            const prefix = `${_gate}${app.module}/${table.objectName}`


            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[
#foreach ($column in $table.columnList)
                        {field: '${column.attrName}', title: '${column.comment}'},
#end
                        {title: '操作',  toolbar: '#rud'}
                    ]]

                 tableRender(table,{cols})
                table.on('tool(table)', iframeAction)
            })
        </script>
    </body>

</html>