<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-iframe">
            <form class="layui-form" th:attr="action=${_action}" th:object="${_vo}">
                <input type="hidden" th:field="*{id}"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" autocomplete="off"
                               placeholder="请输入用户名"
                               th:field="*{username}"
                               th:disabled="${!_isAdd}"
                               th:classappend="${_isAdd?'':'layui-disabled'}"
                               th:attr="lay-verify=${_isAdd?'required':''}"/>
                    </div>
                </div>

                <div class="layui-form-item" th:if="${_isAdd}">
                    <label class="layui-form-label">密码：</label>
                    <div class="layui-input-block">
                        <input type="password" class="layui-input" autocomplete="off" lay-verify="required"
                               name="password" placeholder="请输入密码">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input"
                               th:field="*{name}" lay-verify="required"
                               placeholder="请输入姓名" autocomplete="off">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input"
                               th:field="*{phone}" lay-verify="required"
                               placeholder="请输入手机号" autocomplete="off">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色：</label>
                    <div class="layui-input-block">
                        <select name="roles" lay-verify="required" multiple>
                            <option value="">请选择角色</option>
                            <option th:each="role : ${roleList}"
                                    th:value="${role.id}"
                                    th:text="${role.name}"
                                    th:attr="selected=${#sets.contains(_vo.roleIdSet,role.id)}"
                            ></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: au-footer"></div>
        <div th:include="include :: md5-js"></div>
        <script th:inline="javascript">
            const prefix = `${_gate}system/user`

            layui.use(['form'], () => {
                const {form} = layui
                form.on('submit(submit)', ({form, field}) => {
                    if (field.password) {
                        field.password = md5(field.username + field.password)
                    }
                    return iframeSubmit({form, field})
                })
            })

        </script>
    </body>

</html>