<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-iframe">
            <form class="layui-form-pane" th:object="${_vo}">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{username }" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" th:value="*{name}" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">角色：</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input"  th:value="*{role.name}" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <input type="text"  class="layui-input" th:value="*{stateStr}" disabled>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间：</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="*{gmtCreate}" class="layui-input date-field" disabled>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" >修改密码</button>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: footer"></div>
    </body>

</html>