<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
    // 父级页面跳转
    if(window != top){
        top.location.href = location.href
    }
</script>

<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/css/login.css}"/>

<body>
<div class="m-login-bg">
    <div class="m-login">
        <div class="m-login-warp">
            <form class="layui-form">
                <div class="layui-form-item">
                    <input type="text" name="username" lay-verify="required" placeholder="用户名"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" lay-verify="required" placeholder="密码"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                    <div class="layui-inline">
                        <input type="checkbox" name="rememberMe" value="true" lay-skin="primary" title="记住我">
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright 2020 by zhou</p>
    </div>
</div>
<div th:include="include :: footer"></div>
<script>

    layui.use(['form', 'jquery'] ,() =>{
        const {form} = layui



        if(location.href.indexOf('loginLimit')>0){
            warn('账号在其他设备登陆')
        }

        //监听提交
        form.on('submit(login)', ({field: data}) => {
            post(`${gate}system/user/rest/login`, data, () => {
                location.href = `${gate}index`
            })
            return false;
        })

    })

</script>
</body>
</html>