<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <script th:inline="none">
        // 父级页面跳转
        if (window !== top) {
            top.location.href = location.href
        }
    </script>
    <head th:include="include :: header"></head>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <body>
        <div id="root">
            <div class="login">
                <div class="login-holder">
                    <form class="layui-form" autocomplete="off">
                        <div class="layui-form-item">
                            <input type="text" name="username" class="layui-input" lay-verify="required"
                                   placeholder="用户名">
                        </div>
                        <div class="layui-form-item">
                            <input type="password" name="password" class="layui-input" lay-verify="required"
                                   placeholder="密码">
                        </div>
                        <div class="layui-form-item btn-group">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login">登录</button>
                            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                            <input type="checkbox" name="rememberMe" value="true" lay-skin="primary" title="记住我">
                        </div>
                    </form>
                </div>
                <p class="copyright">Copyright 2020 by zhou</p>
            </div>
        </div>
        <div th:include="include :: footer"></div>
        <div th:include="include :: md5-js"></div>
        <script th:inline="none">
            layui.use(['form', 'jquery'], () => {
                const {form} = layui
                if (location.href.indexOf('loginLimit') > 0) {
                    warn('账号在其他设备登陆')
                }
                form.on('submit(login)', ({field: data}) => {
                    data.password = md5(data.username + data.password)
                    httpPost({
                        url: `${_gate}system/user/rest/login`,
                        data,
                        cb: () => {
                            location.href = `${_gate}index`
                        }
                    })
                    return false
                })
            })
        </script>
    </body>
</html>