<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <body>
            <div class="layout-page">
                <form class="layui-form" th:object="${_vo}">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名：</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" th:value="*{username}" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名：</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" th:value="*{name}" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">角色：</label>
                        <div class="layui-input-block">
                            <a class="layui-btn layui-btn-sm role-btn"
                               th:each="role : *{roles}"
                               th:attr="data-id=${role.id}"
                               th:text="${role.name}">
                            </a>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" th:value="*{stateStr}" disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间：</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" th:value="*{#dates.format(gmtCreate, 'yyyy-MM-dd')}"
                                   disabled>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal" type="button" id="reset-pwd">修改密码</button>
                        </div>
                    </div>
                </form>
            </div>
        </body>
        <div th:include="include :: au-footer"></div>
        <script th:inline="none">
            const prefix = `${_gate}system/user`

            layui.use(['jquery'], () => {
                let {jquery:$} = layui
                $('#reset-pwd').click(()=>{
                    return newFrame(`修改密码`, `${prefix}/reset/pwd/own`)
                })
            })
        </script>
    </body>

</html>