<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="layout-page">
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script type="text/html" id="block-tool" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="remove"
               shiro:hasPermission=${_module.permissionPrefix+':remove'}>解除</a>
        </script>
        <script th:inline="javascript">
            const typeMap = [[${typeMap}]]
        </script>
        <script>
            const prefix = `${_gate}block`

            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[

                        {field: 'ip', title: 'IP'},
                        {
                            field: 'type', title: '类型',
                            templet: ({type}) => dictRender(type, typeMap)
                        },
                        {field: 'reason', title: '原因'},
                        {
                            field: 'creator', title: '操作人',
                            templet: ({creator}) => creator.name
                        },
                        {
                            field: 'gmtCreate', title: '创建时间',
                            templet: ({gmtCreate}) => formatDate(gmtCreate, 'yyyy-MM-dd')
                        },
                        {title: '操作', toolbar: '#rud'}
                    ]]

                tableRender(table, {cols})
                table.on('tool(table)', ({data, event}) => {
                    switch (event) {
                        case 'remove':
                            layer.confirm(`确认移除对此IP的阻塞吗`, {
                                btn: ['确定', '取消'],
                                shade: [0.1, '#fff']
                            }, () => {
                                httpPost({
                                    url: `${prefix}/rest/remove/${data.id}`,
                                    cb: () => msg(reloadTable)
                                })
                            })
                    }
                })
            })
        </script>
    </body>

</html>