<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.blog.domain.dao.BlogDAO">

    <insert id="save" parameterType="BlogPO">
        INSERT INTO zhousb_blog(
             id , 
             title , 
             type , 
             content , 
             state ,
             pv ,
             gmt_create , 
             gmt_modified 
        )
        VALUES(
            #{id} , 
            #{title} , 
            #{type} , 
            #{content} , 
            #{state} ,
            #{pv} ,
            NOW(),
            NOW()
        )
    </insert>

    <update id="update" parameterType="BlogPO">
        UPDATE zhousb_blog
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="type != null">type = #{type},</if>
            <if test="state != null">state = #{state},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="pv != null">pv = #{pv},</if>
        </set>
        WHERE id = #{id}
    </update>

    <sql id="selectSQL">
        SELECT
            id ,
            title ,
            type ,
            content ,
            state,
            pv ,
            gmt_create ,
            gmt_modified 
        FROM zhousb_blog
    </sql>


    <select id="get" parameterType="BlogDTO" resultType="BlogPO">
        <include refid="selectSQL"/>
        WHERE id = #{id}
    </select>

    <select id="list" parameterType="BlogDTO" resultType="BlogPO">
        <include refid="selectSQL"/>
        <where>
            <if test="titleLike != null  and titleLike != '' "> and title LIKE CONCAT('%',#{titleLike},'%')</if>
            <if test="type != null  "> and type = #{type}</if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
