<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.blog.domain.dao.TagDAO">

    <resultMap id="VOMap" type="TagVO">
        <result column="name" property="name"/>
    </resultMap>

    <sql id="POSql">
        SELECT
            id ,
            name,
            count,
            create_by,
            gmt_create
        FROM blog_tag
    </sql>

    <insert id="incrSaveList" parameterType="TagPO">
        INSERT INTO blog_tag(
             name ,
             count ,
             create_by ,
             gmt_create
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            ( #{item.name} , 1 ,#{item.createBy},NOW())
        </foreach>
        ON DUPLICATE KEY UPDATE count = count + 1;
    </insert>

    <update id="incrList" parameterType="TagPO">
        UPDATE blog_tag set count = count + #{delta} where name in
        <foreach item="tag" collection="tags" open="(" separator="," close=")">
            #{tag.name}
        </foreach>
    </update>

    <select id="listVO" parameterType="TagQuery" resultMap="VOMap">
        SELECT
            id ,
            name,
            count,
            create_by,
            gmt_create
        FROM blog_tag
        <where>
            <if test="nameLike != null and nameLike != ''">and `name` LIKE CONCAT('%',#{nameLike},'%')</if>
        </where>
    </select>

</mapper>
