<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.blog.domain.dao.TagDAO">

    <resultMap id="POMap" type="TagPO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
        <result column="create_by" property="createBy"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>

    <resultMap id="VOMap" type="TagVO">
        <result column="name" property="name"/>
    </resultMap>

    <insert id="incrSaveList" parameterType="TagPO">
        INSERT INTO blog_tag(
             name ,
             count ,
             create_by ,
             gmt_create
        )
        VALUES
        <foreach collection="list" index="index" item="tag" separator=",">
            (#{tag.name},1,#{tag.createBy},NOW())
        </foreach>
        ON DUPLICATE KEY UPDATE count = count + 1;
    </insert>

    <update id="incrList" parameterType="String">
        UPDATE blog_tag set count = count + #{delta} where name in
        <foreach item="tagName" collection="tagNames" open="(" separator="," close=")">
            #{tagName}
        </foreach>
    </update>

    <select id="list" parameterType="TagQuery" resultMap="POMap">
        SELECT
            tag.id ,
            tag.name,
            tag.count,
            tag.create_by,
            tag.gmt_create
        <choose>
            <when test="blogId != null and blogId !=''">
                FROM blog_blog_tag AS blog_tag
                LEFT JOIN blog_tag AS tag ON blog_tag.tag_id = tag.id and blog_tag.is_deleted = 0
            </when>
            <otherwise>
                FROM blog_tag AS tag
            </otherwise>
        </choose>
        <where>
            tag.is_deleted = 0
            <if test="blogId != null and blogId != ''">and blog_tag.blog_id = #{blogId}</if>
        </where>
    </select>

    <select id="listVO" parameterType="TagQuery" resultMap="VOMap">
        SELECT
            name
        FROM blog_tag
        <where>
            <if test="nameLike != null and nameLike != ''">and `name` LIKE CONCAT('%',#{nameLike},'%')</if>
        </where>
    </select>

</mapper>
