<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.blog.domain.dao.TagDAO">

    <insert id="saveMap">
        INSERT INTO blog_tag_map ( tag_id, blog_id )
        VALUES
        <foreach collection="tags" index="index" item="item" separator=",">
            ( #{item.id},#{blogId} )
        </foreach>
    </insert>

    <insert id="removeMap">
        DELETE FROM blog_tag_map
        WHERE
        blog_id = #{blogId} and tag_id IN
        <foreach collection="tags" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </insert>

    <insert id="save" parameterType="TagPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_tag(
             name ,
             count ,
             create_id ,
             gmt_create
        )
        VALUES(
            #{name} ,
            #{count} ,
            #{createId} ,
            NOW()
        )
    </insert>

    <update id="update" parameterType="TagPO">
        UPDATE blog_tag
        <set>
            <if test="count != null">count = #{count},</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="get" parameterType="TagDTO" resultType="TagPO">
        SELECT
            id ,
            name,
            count
        FROM blog_tag
        where name = #{name}
    </select>

    <select id="list" parameterType="TagDTO" resultType="TagPO">
        SELECT
        id ,
        name
        FROM blog_tag
        <where>
            <if test="nameLike != null and nameLike != ''">and name LIKE CONCAT('%',#{nameLike},'%')</if>
        </where>
        ORDER BY count DESC
    </select>


</mapper>
