<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include :: header"></head>
    <body>
        <div class="frame-wrap">
            <form class="layui-form  " id="form" th:attr="action=${action}">
                <input type="hidden" name="id" th:value="${o.id}">

                <div class="layui-form-item">
                    <label class="layui-form-label">名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickname" th:value="${ o.nickname }" class="layui-input" placeholder="请输入名称" autocomplete="off"  >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱：</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" th:value="${ o.email }" class="layui-input" placeholder="请输入邮箱" autocomplete="off"  >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">站点：</label>
                    <div class="layui-input-block">
                        <input type="text" name="website" th:value="${ o.website }" class="layui-input" placeholder="请输入站点" autocomplete="off"  >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">通知：</label>
                    <div class="layui-input-block">
                        <input type="radio" name="notify" value="0" th:field="${o.notify}" title="通知">
                        <input type="radio" name="notify" value="1" th:field="${o.notify}" title="不通知">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注：</label>
                    <div class="layui-input-block">
                        <input type="text" name="remark" th:value="${ o.remark }" class="layui-input" placeholder="请输入备注" autocomplete="off"  >
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div th:include="include :: au-footer"></div>
        <script th:inline="none">
            const prefix =  `${gate}access/visitor`

            layui.use(['form', 'jquery'],  ()=> {
                const {form, jquery: $} = layui

                //监听提交
                form.on('submit(submit)',  IFRAME_SUBMIT)
            })

        </script>
    </body>

</html>