<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head th:include="include :: header"></head>
    <body>
        <div class="page-wrap">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" name="id" class="layui-input" placeholder="请输入ID" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="nicknameLike" class="layui-input" placeholder="请输入名称" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <select name="state">
                            <option value="">请选择一个状态</option>
                            <option th:each="state:${stateMap.values()}" th:value="${state.code}" th:text="${state.label}"></option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="remarkLike" class="layui-input" placeholder="请输入备注" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="search">
                            <i class="fa fa-search"></i>
                            搜索
                        </button>
                        <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary search-reset">
                            <i class="fa fa-repeat"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <table id="table" lay-filter="table"></table>
            </div>
        </div>
        <div th:include="include :: list-footer"></div>
        <script type="text/html" id="rub">
            <div>
                <a class="layui-btn layui-btn-sm" lay-event="detail" shiro:hasPermission=${m.permissionPrefix+':detail'}>查看</a>
                <a class="layui-btn layui-btn-sm" lay-event="access" shiro:hasPermission=${'access:log:list'}>访问历史</a>
                <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="update" shiro:hasPermission=${m.permissionPrefix+':update'}>修改</a>
                {{#  if(d.state != 11){ }}
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="block" shiro:hasPermission=${m.permissionPrefix+':block'}>阻塞</a>
                {{#  } else { }}
                <a class="layui-btn layui-bg-orange  layui-btn-sm" lay-event="unblock" shiro:hasPermission=${m.permissionPrefix+':block'}>取消阻塞</a>
                {{#  } }}
            </div>
        </script>
        <script th:inline="javascript">
            const stateMap = [[${stateMap}]]
        </script>
        <script th:inline="none">
            const prefix = `${gate}access/visitor`

            layui.use(['table', 'jquery'], () => {
                const {table} = layui,
                    cols = [[
                        {field: 'id', title: 'ID', align: 'center'},
                        { field: 'nickname', title: '名称', align: 'center',
                            templet: ({nickname = '-', website}) => {
                                console.log(nickname)
                                console.log(website)
                                return website ?
                                    `<a href="${website}" target="_blank">${nickname}</a>` :
                                    nickname
                            }
                        },
                        {field: 'email', title: '邮箱', align: 'center', templet: ({email = '-'}) => email},
                        {field: 'state', title: '状态', align: 'center',
                            templet: ({state}) => {
                                let {label, css} = stateMap[state]
                                return `<a class="layui-btn layui-btn-xs ${css}">${label}</a>`
                            }
                        },
                        {field: 'remark', title: '备注', align: 'center',templet: ({remark = '-'})=> remark},
                        {field: 'lastAccessTime', title: '最后访问时间', align: 'center',templet: ({lastAccessTime}) =>  formatDate(lastAccessTime)},
                        {title: '操作', width:'95',fixed: 'right', align: 'center', toolbar: '#rub'}
                    ]]

                table.render(fillDefault(cols))
                table.on('tool(table)', toolHandle)

                function toolHandle({data, event: action}) {
                    switch (action) {
                        case 'detail':
                            newFrame(`${m.name}详情`, `${prefix}/detail/${data.id}`)
                            break
                        case 'update':
                            newFrame(`修改${m.name}`, `${prefix}/update/${data.id}`)
                            break
                        case 'block':
                            return layer.confirm(`确认阻塞 ${data.nickname?data.nickname:'该访客'} 吗`, {
                                btn: ['确定', '取消'],
                                shade: [0.1, '#fff']
                            }, (index) => {
                                post(`${prefix}/rest/block/${data.id}`, null, () => {
                                    done(reloadTable)
                                })
                            })
                        case 'unblock':
                            return layer.confirm(`确认取消对${data.nickname?data.nickname:'该访客'} 的阻塞吗`, {
                                btn: ['确定', '取消'],
                                shade: [0.1, '#fff']
                            }, () => {
                                post(`${prefix}/rest/unblock/${data.id}`, null, () => {
                                    done(reloadTable)
                                })
                            })
                    }
                }
            })

        </script>
    </body>

</html>