<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.zhou.module.access.visitor.domain.dao.VisitorDAO">

    <update id="update" parameterType="VisitorPO">
        UPDATE zhousb_visitor
        <set>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="website != null and website != ''">website = #{website},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="notify != null">notify = #{notify},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            gmt_modified = NOW()
        </set>
        WHERE id = #{id}
    </update>


    <sql id="selectSQL">
        SELECT
            id ,
            nickname ,
            email ,
            website ,
            state ,
            notify ,
            remark ,
            last_access_time ,
            gmt_create ,
            gmt_modified 
        FROM zhousb_visitor
    </sql>


    <select id="get" parameterType="VisitorDTO" resultType="VisitorPO">
        <include refid="selectSQL"/>
        WHERE id = #{id}
    </select>


    <select id="list" parameterType="VisitorDTO" resultType="VisitorPO">
        <include refid="selectSQL"/>
        <where>
            <if test="id != null  "> and id = #{id}</if>
            <if test="state != null  "> and state = #{state}</if>
            <if test="nicknameLike != null  and nicknameLike != '' "> and nickname LIKE CONCAT('%',#{nicknameLike},'%')</if>
            <if test="remarkLike != null  and remarkLike != '' "> and remark  LIKE CONCAT('%',#{remarkLike},'%')</if>
        </where>
        ORDER BY state,id DESC
    </select>
</mapper>
